[2020-08-31 10:46] shubhamkarande13 opened #15 "Building a Contributors Website for Moja Global outreach"
**Summary :** Establish a contributors website for moja global projects to welcome new and old contributors.

**Background :** A contributors website makes contributors feel at ease and guides them on how to get started and what to do in case they get stuck. GitHub repositories can sometimes be scary and hence a contributors website would be a great addition for communication. It will help to star

[2021-05-24 21:26] sarthakkundra opened #1 "Initialise Docusaurus"

[2021-05-24 21:29] sarthakkundra opened #2 "Setup ES-Lint and Prettier"
To follow standard coding conventions all along the project, let's setup a pre-commit hook using ES-Lint and Prettier.

Refer [article](https://medium.com/dubizzletechblog/setting-up-prettier-and-eslint-for-js-and-react-apps-bbc779d29062) for any guidance.

[2021-05-24 21:30] sarthakkundra opened #3 "Create Pull Request and Issue Template."

[2021-05-24 21:31] sarthakkundra opened #4 "Setup Initial ReadMe for new contributors."

[2021-05-24 21:36] sarthakkundra opened #5 "Modify homepage"
Docusaurus creates a standard classic theme template for all it's generated websites. Let's make the following changes to get the ball rolling :-

- [ ] Change logo to moja global's logo
- [ ] Change homepage's title and description to contributor website's.
- [ ] Change the info paragraphs on the homepage.
- [ ] Change navbar and footer links to moja global's social handles

[2021-05-24 21:36] sarthakkundra opened #6 "Create uniform labels across the repo"

[2021-05-25 11:03] #1 closed

[2021-05-25 11:08] #6 closed

[2021-05-25 11:10] sarthakkundra opened #8 "Create Github Action"
An initial Github action should do the following things :-

- [ ] Greet first time contributors.

[2021-05-29 09:10] sarthakkundra commented on #2
Sure. Go ahead. Make sure to work on the `init` branch.

[2021-05-29 20:36] Abhishek-kumar09 commented on #2
@sarthakkundra  I thought you are asking to create a PR against `init` branch, but there is no such branch.

[2021-06-01 05:37] rutujaingole commented on #3
@HarshCasper Please assign me this issue.

[2021-06-02 10:10] HarshCasper opened #14 "Create GitHub Action to test build"
## Description

Add a GitHub Action to test the application build.

[2021-06-02 10:13] soham283 commented on #14
i would like to contribute, can you please assign me this issue @HarshCasper

[2021-06-04 07:57] HarshCasper commented on #15
Transferred it here.

[2021-06-07 15:05] gmajan commented on #15
Just a quick response to the hosting options: We have free hosting on the
servers of Climate Advisers where we also host our regular website. You can
choose the platform and run it on their servers.
Looks great!

On Fri, Jun 4, 2021 at 9:57 AM Shubham Karande ***@***.***>
wrote:

[2021-06-08 06:53] sarthakkundra commented on #15
@gmajan Sounds great!

[2021-06-12 06:39] CIPHERTron opened #16 "Proposal to setup ES Lint and Prettier for the project"

[2021-06-12 06:41] CIPHERTron commented on #16
My bad! I didn't notice there was already an issue similar to this. Closing this issue.

[2021-06-12 06:41] #16 closed

[2021-06-14 09:33] aornugent commented on #15
Hey @sarthakkundra - can you please provide an update in this? Let us know how we can help!

[2021-06-14 09:40] sarthakkundra commented on #15
Hey @aornugent. I thought we finalised this on our call that we'll apply for Vercel's grant for our front-end platform  and since it's a static site, we don't need any servers. Once the site is hosted on Vercel. We can use the subdomain `community.moja.global` to put it live. Let me know if I'm missing anything.

[2021-06-14 09:47] aornugent commented on #14
@soham283 - how are you going with this? @sarthakkundra, can you please provide a pointer on how to run automated tests?

[2021-06-14 10:40] aornugent commented on #15
Thanks! I'm asking to continue the discussion in a public forum.

Can you please send me a draft of the application, when you're ready? We should definitely qualify.

[2021-06-15 06:32] sarthakkundra commented on #15
I'll get on it by around 25-26 June. Once the website is near ready. I'll open an issue for the application and link it here so that everyone can pitch in.

[2021-06-17 05:50] HarshCasper opened #17 "Add a README for the Project"
## Description

Add a README for the Project. It should mandatorily contain:

- About the Project
- Installation Instructions
- Roadmap (Refer to GSoD proposal)
- Contributing
- LICENSE

[2021-06-17 05:55] CIPHERTron commented on #17
Heyy @HarshCasper I would like to take up this issue.
Could you please assign it to me?
Thanks!

[2021-07-03 07:56] #4 closed

[2021-07-03 08:05] #2 closed

[2021-07-03 08:05] #17 closed

[2021-07-03 08:07] #5 closed

[2021-07-03 08:07] #3 closed

[2021-07-03 08:09] sarthakkundra opened #18 "Vercel deployment GHA not working"
The Github Action to deploy the website on every PR using Vercel is returning a 404.

[2021-07-03 08:19] sarthakkundra opened #19 "Which projects to put initially on the Community Website?"
These projects will be featured in the `Projects` section of the website where for each project the user can see an :-

1. About
2. Setting Up
3. Usage
4. Learn More

This thread is to discuss which projects we want to add :-
- [ ] FLINT

CC :- @aornugent @HarshCasper @Tlazypanda

[2021-07-03 08:42] sarthakkundra opened #20 "Create a "Need contributions" card"
We need a card that can be added to any page that is incomplete to attract contributions and to state that more information will be added in future to this page.

[2021-07-03 08:43] sarthakkundra opened #21 "Write Blogs text on homepage doesn't seem appropriate"

[2021-07-03 08:53] #20 closed

[2021-07-03 08:55] sarthakkundra opened #23 "Create a DCO sign off hook"
New contributors might not know how to sign off DCO which results in delayed merging or PRs and also an additional step which can be automated.

[2021-07-03 09:02] shubhamkarande13 commented on #19
Some suggestions:

- FLINT Example
- FLINT JSON Interface
- FLINT Cloud
- FLINT Visualization Tool (Taswira)
- FLINT Reporting Tool
- FLINT Agricultural Soils Module
- GCBM Environmentally Sensitive Forest Module

[2021-07-03 14:09] HarshCasper commented on #23
We already have a DCO Bot. Do we need a sign off hook?

[2021-07-04 00:09] aornugent commented on #19
I suggest a separate FLINT modules section, including GCBM, FLINT Example and Agricultural soil, but also the other modules described by Mohit.

Also, @waridrox published a content map for the community website a while ago - do you still have this for reference? I think an introduction to the keystone projects is a great idea but the setup and usage instructions are already covered at docs.moja.gl

[2021-07-04 03:59] aornugent commented on #19
Oh, also there's also the predictive deforestation project. @tgoswamy @govarun can provide you with some proposals, presentations and reports to link to.

[2021-07-07 22:07] aornugent commented on #19
Here is @waridrox content map.

<img width="1201" alt="screenshot_2021-05-10_at_6 12 33_pm" src="https://user-images.githubusercontent.com/20387761/124834733-97016580-dfc3-11eb-9f80-78e9691bb3ad.png">

[2021-07-12 08:25] sarthakkundra opened #25 "Footer logo image is not rendering"

[2021-07-12 14:51] govarun commented on #19
@sarthakkundra Varun here from the IITK Consulting Group, which is working on the deforestation prediction project. Please ping me when you require the details. Thanks!

[2021-07-13 08:12] sarthakkundra opened #26 "Add Vercel banner and links on every page for sponsorship"

[2021-07-14 19:35] sarthakkundra opened #28 "Add Vercel banner in the Readme under a Sponsors category"
The SVG file can be found in the `images` directory inside `static` directory. By the name of `powered-by-vercel.svg`

[2021-07-15 07:34] soumik2012 commented on #28
@sarthakkundra can I work on this

[2021-07-15 07:46] sarthakkundra commented on #28
@soumik2012 Sure! Go for it.

[2021-07-15 07:47] sarthakkundra commented on #28
@soumik2012 You can find the image in this PR [PR](https://github.com/moja-global/contributor-website-v2/pull/27)

[2021-07-15 07:57] soumik2012 commented on #28
@sarthakkundra I can add this deploy button at the end of the readme. a file like this ...
![image](https://user-images.githubusercontent.com/66599363/125751175-a2902af3-9df3-423b-8c44-7a0d5a1610f9.png)
what you say ??

[2021-07-15 08:27] soumik2012 commented on #28
@sarthakkundra image in not in `static`  directory

[2021-07-15 09:02] aornugent opened #29 "Rename repository 'community-website'"
We can tidy up this repo using the new name and to distinguish it from the previous contributor site.

[2021-07-15 10:14] sarthakkundra commented on #28
Please read the comment above this.

[2021-07-15 10:15] sarthakkundra commented on #28
Add a `Sponsors` section above `Getting Involved` section and add the banner inside that section.

[2021-07-15 10:33] soumik2012 commented on #28
![image](https://user-images.githubusercontent.com/66599363/125774174-77b15753-f6d8-44da-b8b1-a3294faa48bc.png)
see @sarthakkundra there is no `powered-by-vercel.svg`

[2021-07-16 15:32] soumik2012 commented on #28
@sarthakkundra

[2021-07-19 19:07] sarthakkundra commented on #29
Done.

[2021-07-19 19:07] #29 closed

[2021-07-19 19:08] sarthakkundra commented on #28
@soumik2012 Thanks for your interest. This issue has been fixed by #30 .

[2021-07-19 19:08] #28 closed

[2021-07-19 19:08] #26 closed

[2021-07-19 19:09] sarthakkundra commented on #25
Fixed by #26

[2021-07-19 19:09] #25 closed

[2021-07-19 19:10] sarthakkundra commented on #18
Will be fixed by getting sponsored. Currently it is not working because the paid team subscription has run out.

[2021-07-19 19:10] #18 closed

[2021-07-20 12:51] Ruchip16 commented on #21
Hey, I would like to work on this I cloned the repo but I did not find write blogs text anywhere in the repo could you just point out where it is exactly

[2021-07-23 11:26] sarthakkundra opened #31 "Write an intro to FLINT blog."
Now that we're near the alpha release of the website. I'm opening the gates for public contributors to write and contribute blogs, docs, etc.

With that note, the first order of business is to write a blog on `Introduction to FLINT`.

Please refer to [this](https://docusaurus.io/docs/blog#adding-posts) page on more info for writing a blog.

[2021-07-24 04:20] Ruchip16 commented on #31
I am interested to work on this issue @sarthakkundra

[2021-07-24 13:02] sarthakkundra commented on #31
Sure @Ruchip16 go head! 😄

[2021-07-28 10:30] sarthakkundra commented on #31
@Ruchip16 Any updates / blockers?

[2021-07-28 10:32] sarthakkundra opened #32 "Request space for Blogs"
We'll use this issue to keep track and discuss about all blogs on the website. If you want to write or request any blog.
Kindly open an issue and link it here. Thanks!

[2021-07-28 10:36] sarthakkundra opened #33 "PSF - FLINT Cloud"
Write documentation about FLINT Cloud under the projects section. Refer to this [section](https://docusaurus.io/docs/docs-introduction) to understand how to create a documentation page and how to add it to the sidebar. Feel free to discuss or submit draft proposals here.

The documentation should include the following sections:-

- [ ] About the project.
- [ ] Use cases of the project.
- [ ] Learn

[2021-07-28 10:38] sarthakkundra opened #34 "PSF - FLINT Visualization tool"
Write documentation about FLINT Visualization tool under the projects section. Refer to this [section](https://docusaurus.io/docs/docs-introduction) to understand how to create a documentation page and how to add it to the sidebar. Feel free to discuss or submit draft proposals here.

The documentation should include the following sections:-

- [ ] About the project.
- [ ] Use cases of the project

[2021-07-28 10:40] sarthakkundra opened #35 "PSF - FLINT Reporting Tool"
Write documentation about FLINT Reporting tool under the projects section. Refer to this [section](https://docusaurus.io/docs/docs-introduction) to understand how to create a documentation page and how to add it to the sidebar. Feel free to discuss or submit draft proposals here.

The documentation should include the following sections:-

- [ ] About the project.
- [ ] Use cases of the project.
-

[2021-07-28 10:41] sarthakkundra opened #36 "PSF - Predictive Deforestation Project"
Write documentation about FLINT Deforestation Project under the projects section. Refer to this [section](https://docusaurus.io/docs/docs-introduction) to understand how to create a documentation page and how to add it to the sidebar. Feel free to discuss or submit draft proposals here.

The documentation should include the following sections:-

- [ ] About the project.
- [ ] Use cases of the proj

[2021-07-28 10:49] sarthakkundra opened #37 "CSF - Community Specific Documentation"
We plan to add documentation for our community as well. Something along the lines of how [Rust lang](https://www.rust-lang.org/community) does it. We plan to add details about how we work, the different ways to get involved, meeting plans, how to access previous meetings' minutes, recordings, etc.

Please refer to this [link](https://docusaurus.io/docs/docs-introduction) on how to add sections in

[2021-07-28 10:57] Aman1905 commented on #34
Hey I am interested to work on this issue. Can you assign it to me? @sarthakkundra

[2021-07-28 11:23] raghavraj-27 commented on #37
Hey @sarthakkundra .. I would like to work on this.

[2021-07-28 15:37] Siddhant-K-code commented on #37
I can work on this issue. My Approach for this will be :

- First will try to Give all pointers about getting involved ( various tech stack projects and community website - docs. ) that you and harsh gave in recent meetings ( can be taken from the Presentation )
- Slack Channel Invite/Details for Communication
- Drive Links of Recent Meetings.

[2021-07-29 12:21] Ruchip16 commented on #31
Hey @sarthakkundra  as of now I am writing my blog content in the directory website/blog/2021-07-29-intro_to_flint.MD would probably finish the writing part within tomorrow and after that, I am guessing that I need to add it into docusaurus.config.js, and what next after that? Also, it would be great if you can review the blog once

[2021-07-29 19:37] sarthakkundra commented on #37
Hey @Siddhant-K-code. Thanks for showing interest. Your approach looks interesting! Some pointers on the same:-

1. Let's create a component for rendering the meeting minutes and maybe take the titles from [here](https://github.com/moja-global/Google.Season.of.Documentation/tree/master/meeting-minutes). We can use the Github API for this or a custom webhook.
2. Don't worry about the Slack invite a

[2021-07-29 19:38] sarthakkundra commented on #34
Hey @Aman1905 done! 😄 . Feel free to discuss your doubts or blockers in this thread. Cheers!

[2021-07-29 19:44] sarthakkundra commented on #31
@Ruchip16 Thanks for the update! I don't think so there's anything else that you need to do after adding it into the config. If you can see it on the `Blogs` page then it must be fine. We'll have someone review it once you make the PR. Cheers! 😄

[2021-07-29 21:46] iamrajiv opened #39 "feat: Add twitter card and moja global logo to the Open Graph Image metadata"
## Description

When we share [https://moja-global.vercel.app/](https://moja-global.vercel.app/) over social media like Twitter, it is good that the card they generate for the link has useful information.

![Screenshot 2021-08-02 at 2 57 53 PM](https://user-images.githubusercontent.com/42106787/127838522-5d07c2a7-4ad7-4587-853f-6cc4da9066aa.jpg)

Currently, Twitter does not render and get any imag

[2021-07-30 12:51] Mukulikaa commented on #36
Hi, I would like to take up this issue!

[2021-07-30 13:13] sarthakkundra commented on #36
Go ahead @Mukulikaa. If you need any help regarding the project and/or it's content. I think @govarun can help you.

[2021-07-30 17:25] Siddhant-K-code commented on #39
Apart from the **moja-global** image, what other details/text should be there?

also, https://contributor-website-v2.vercel.app/ is giving `Error 404` as of now

[2021-07-30 22:32] aornugent commented on #36
@tgoswamy @govarun - please provide a link to your proposals, reports and results. Secondly, we'll need instructions for how new users can get started with this projects.

@Mukulikaa - take a look at the #deforestation-algorithm channel on Slack and include a link to the Linux Foundation project page: https://mentorship.lfx.linuxfoundation.org/project/926665ac-9b96-45aa-bb11-5d99096be870

[2021-07-31 05:50] Ruchip16 commented on #31
Hey @sarthakkundra  I am done with the blog and it is also showing up rightly on the community website blogs page but I am confused that whether the  ```docusaurus.config.js``` has been edited rightly or not so should I make a PR and then you would review it

I have attached the image of how it looks rn
![image](https://user-images.githubusercontent.com/72685035/127730226-3f244aac-7a85-4e8b-93e0-f

[2021-07-31 06:38] Ruchip16 commented on #31
![image](https://user-images.githubusercontent.com/72685035/127731202-b63f72fd-131a-4b7f-a3c2-916a20e8fe42.png)
Also @sarthakkundra what url i need to add in blogs & docs part

[2021-08-01 11:40] Siddhant-K-code opened #40 "Outdated Packages & Old Development Setup Docs."
We Should Update these Commands!

![image](https://user-images.githubusercontent.com/55068936/127769400-51d47978-dd49-4f6e-9333-16718bac280e.png)

[Here](https://github.com/moja-global/community-website/tree/main/website#installation) It is given to run yarn install
[Here](https://github.com/moja-global/community-website#development-setup) It is given to run npm install

we should standardise & Up

[2021-08-02 09:37] iamrajiv commented on #39
@Siddhant-K-code I have updated the links. You just have to add `metadatas` in `docusaurus.config.js`. Also, you can use this image [https://github.com/moja-global/community-website/blob/main/website/static/img/logo.png](https://github.com/moja-global/community-website/blob/main/website/static/img/logo.png).

[2021-08-02 09:45] iamrajiv opened #42 "fix: Update favicon"
## Description

Replace Docusaurus favicon with moja global favicon. We can use this favicon [https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/public/favicon.ico](https://github.com/moja-global/FLINT-UI/blob/master/flint.ui/public/favicon.ico).

[2021-08-02 14:25] #40 closed

[2021-08-03 10:48] Siddhant-K-code commented on #42
Yeah, I will do that.

[2021-08-03 15:28] Ayush7614 opened #44 "Website is not working"
If i open the website then it is not working and show error

[2021-08-04 05:32] Ayush7614 commented on #14
@aornugent @HarshCasper i would like to work on the issue please assign me

[2021-08-04 14:05] Ayush7614 opened #45 "Add Welcome + Stale Bot"
Add a Github Action that can welcome new contributors.

[2021-08-04 14:05] Ayush7614 commented on #45
@HarshCasper sir Please assign me this issue

[2021-08-05 05:14] Siddhant-K-code commented on #44
You Can Access it Here: https://moja-global.vercel.app/

Please Close this Issue, if resolved!

[2021-08-05 06:18] Siddhant-K-code opened #47 "Changes Required in Default `<head>`"
Currently, the Following Tags under `<head>` need changes, as it was created as a template by docusaurus. We should change it according to our organisation:

![image](https://user-images.githubusercontent.com/55068936/128300803-3ccb37f5-04e3-4e4a-8bc3-61e2466f63d8.png)

Part of #39

cc: @sarthakkundra

[2021-08-05 06:26] #44 closed

[2021-08-05 06:30] Siddhant-K-code opened #48 "Navbar Logo fix for Dark-Theme"
Though our Logo looks good in light-theme, it looks a bit off in Dark-theme. Background Color cover's our logo text.
Light-Theme:

![image](https://user-images.githubusercontent.com/55068936/128302030-6034b31b-d4b1-4304-bfae-54d1cdfdcef1.png)

Dark-Theme:

![image](https://user-images.githubusercontent.com/55068936/128302079-ac42dbbf-5e25-4912-b896-f1e5ef2e4c58.png)

Possible Solution: We can use

[2021-08-05 06:59] aornugent commented on #48
See https://github.com/moja-global/About_moja_global/issues/137 for brand assets.

Can we match the dark green logo for dark theme?

![Uploading Logos_1000x1000pxLogo-w-icon-1.png…]()

[2021-08-05 07:16] Siddhant-K-code commented on #48
We Can use the transparent version of this.

[2021-08-06 11:42] Siddhant-K-code commented on #37
What should be the naming in NavBar for that?

`Projects`     `Blogs`    `????`

[2021-08-06 12:04] Siddhant-K-code commented on #48
We Can use [this](https://github.com/moja-global/community-website/blob/main/website/static/img/logo-light.png)

[2021-08-07 10:25] mehabhalodiya commented on #47
@Siddhant-K-code Can you please let me know what changes you need?

[2021-08-07 10:34] Siddhant-K-code commented on #47
I want that we can place our organization description and all related with default generated docusaurus.

for `og:description`, I guess @aornugent can help with it. What should be the text be like?

Also, a possible description can be:

Community Website of Moja Global or something like that.

@mehabhalodiya you can also come with a better description for this.

[2021-08-07 12:59] #48 closed

[2021-08-07 13:00] #42 closed

[2021-08-07 13:02] sarthakkundra commented on #47
Good eye! I had these in mind. The meta tags need to be changed according to our content. To give some tips in a nutshell, the meta-tags need to pick up a target word or set of words and work on them to have the maximum visibility. Google has a beginner's guide for SEO. Give it a read and try coming up with something based on what we have on our homepage.

[2021-08-07 13:04] sarthakkundra commented on #39
Let's worry about it once we officially host the website.

[2021-08-07 13:05] sarthakkundra commented on #37
Will need to think a bit more about that before approving anything. As of now I'm planning the roadmap to be there.

[2021-08-07 13:14] Siddhant-K-code commented on #37
I am also planning to create a small architecture tree for that, it will be easy to discuss things, maybe in our Tuesday sprint.

[2021-08-08 03:21] aornugent commented on #48
Apologies - I didn't realise our brand assets were restricted. I don't have the permissions to share the folder.

@sarthakkundra - let's finish https://github.com/moja-global/About_moja_global/issues/137 so that we can link to the governance docs as a way to share our logos and imagery. This only requires updating the assets in the docs to the new content.

[2021-08-08 10:06] mehabhalodiya commented on #47
I am interested to work on this.

[2021-08-10 06:24] Siddhant-K-code commented on #37
@sarthakkundra Any Update on Roadmap?

[2021-08-12 03:10] mehabhalodiya commented on #47
Where is the file located of which the screenshot provided?

[2021-08-12 04:14] Siddhant-K-code commented on #47
There is no directly file of `index.html` because it is getting generated through docusaurus.

For Configuring these tags, this may help you:

[docusaurus docs #config](https://docusaurus.io/docs/migration/manual#footericon-copyright-ogimage-twitterimage-docssidenavcollapsible)

you have to read a little about their configurations.

Changes will be done in [this file](https://github.com/moja-globa

[2021-08-12 07:29] Subhradeep10 opened #56 "The Community Website link have Error"
It's Showing Error 404 not found!

![Screenshot from 2021-08-12 12-58-31](https://user-images.githubusercontent.com/70656957/129155879-4c89be2d-c63d-4050-b318-5dfc6d24334e.png)

[2021-08-14 12:42] HarshCasper commented on #56
Hi @Subhradeep10

This is the correct link: https://contributor-website-v2-6iaupqwgk-moja-global.vercel.app/

We will update the link once the website is ready for release :)

[2021-08-14 12:42] #56 closed

[2021-08-15 09:06] sarthakkundra opened #57 "Blog - Reporting Tool"
Write a blog about Reporting Tool under the projects section. Refer to this [section](https://docusaurus.io/docs/blog) to understand how to create a blog page and how to add it to the sidebar. Feel free to discuss or submit draft proposals here.

The blog should include the following sections:-

- [ ] About the project.
- [ ] A brief intro about it's maintainers.
- [ ] It's use cases if possible.

[2021-08-15 09:30] rutujaingole opened #58 "Adding Issue Forms for Issue Templates"
Using the [Issue Forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) for the Issue Templates which is configured in YAML format and eliminates the markdown templates.
It will enable the members to create a structured form with required inputs and fields.

[2021-08-15 16:08] d-cryptic commented on #8
Is this issue still open?

[2021-08-16 05:29] Tonnix commented on #57
Hi @sarthakkundra . Let me work on this this week

[2021-08-16 07:35] Aman1905 commented on #34
Hey firstly sorry for not being available for long time since my college exams were going on but can you help me that what should I put in the Learning Resources section of the blog

[2021-08-16 09:22] sarthakkundra commented on #34
@aornugent can we get a moodle link to the resources? For the learning resources as mentioned by @Aman1905

[2021-08-16 11:34] aornugent commented on #34
I'm not sure our Moodle course has launched yet. Tagging @ksocksTR33Z in case he knows more? 🤞

[2021-08-16 15:05] ksocksTR33Z commented on #34
Guy had left it unpublished previously I believe. It may be as simple as asking him for the admin info to help launch it.

[2021-08-16 16:04] Aman1905 commented on #34
So any other (blog, video etc) more resources about this taswira software. It may help me for creating documentation more nicely.

[2021-08-21 00:41] romasinha commented on #45
@HarshCasper Meanwhile, can I work on this issue too?

[2021-08-21 03:54] HarshCasper commented on #45
Assigned!

[2021-08-22 10:37] raghavraj-27 commented on #35
Can I work on this @sarthakkundra

[2021-08-29 13:19] HarshCasper commented on #14
Hi @Ayush7614

Thanks for taking up the issue and submitting a Pull Request for the same. Unfortunately, this Issue was on the priority list for us and we cannot further delay having the requested changes wait.

I am taking the issue myself to integrate CI pipelines for the project. Please feel free to take up any other open issue at moja global. Thanks for your contributions.

[2021-09-04 16:09] #14 closed

[2021-09-05 04:19] Mukulikaa commented on #36
Thank you for being patient @sarthakkundra; I know I'm taking my own sweet time with it 🙂. Hopefully I'll be done within the week.

[2021-09-05 07:05] Ruchip16 commented on #21
I am working on it

[2021-09-08 04:02] Ruchip16 commented on #31
I am working on this issue

[2021-09-11 07:09] ErrolFernandes opened #62 "Link not working"
The links in moja.global website of cookies and privacy policy are not working.

P.s.:I'm not sure if this is a right repository for this issue.

[2021-09-12 01:48] #33 closed

[2021-09-12 01:48] #32 closed

[2021-09-12 01:48] #23 closed

[2021-09-12 01:48] #15 closed

[2021-09-13 12:23] Sukriti-sood commented on #47
Can I work on this?

[2021-09-13 13:45] Siddhant-K-code commented on #47
@mehabhalodiya any updates r we can assign this to @Sukriti-sood

[2021-09-13 15:30] mehabhalodiya commented on #47
I am beginner in this project and trying to understand what's going on here.
I would like to contribute in this community.
Can anyone help me how to solve?
What exactly needs to be changed?
Please tell me the steps. How to do?

[2021-09-14 01:47] #39 closed

[2021-09-16 12:29] alokprinc commented on #47
I would like to work on this one

[2021-09-16 12:37] alokprinc commented on #47
I didn't find any html,pug or jsx file

[2021-09-16 12:40] alokprinc commented on #62
i would like to work.
can you show me ropes for this issue

[2021-09-16 12:44] alokprinc commented on #35
its my first issue and i would like give my best on this issue.
allow me to work on this one.

[2021-09-16 13:23] alokprinc commented on #57
Let me work on this

[2021-09-17 01:51] #37 closed

[2021-09-22 01:48] #58 closed

[2021-09-23 01:50] #34 closed

[2021-09-26 01:47] #19 closed

[2021-09-29 10:06] toth2000 commented on #8
I would like to work on this issue.

[2021-10-01 08:11] iamrajiv opened #63 "Adding Open Graph image metadata in the docusaurus site of community website"
## Description

When we share https://community.moja.global/ over social media, it is good that the card they generate for the link has useful information.

## References

- Use https://developers.facebook.com/tools/debug/ to validate results for Facebook.
- Use https://www.linkedin.com/post-inspector/ to validate results for LinkedIn.
- Use https://cards-dev.twitter.com/validator to validate resu

[2021-10-01 08:13] iamrajiv commented on #63
@HarshCasper I want to work on this

[2021-10-01 08:27] sarthakkundra commented on #63
Go ahead @iamrajiv! :)

[2021-10-01 10:13] #63 closed

[2021-10-02 03:59] HarshCasper opened #65 "Add SEO tags to the community website"
## Description

Add SEO tags to the community website. Docusaurus takes care of both site level SEO and page specific SEO. We would ideally like to have site level SEO to help users reach our site and page specific SEO to help them find relevant information.

Site level SEO can be implemented by adding `docusaurus.config.js` while page specific SEO can be implemented by adding fields in your doc's

[2021-10-02 04:03] HarshCasper opened #66 "Refactor Issue templates to use GitHub Forms"
## Description

Markdown templates often made it difficult to capture the whole context, by expecting the contributors to read the markup, uncomment lines and delete relevant context.

Issue forms beta was released for public repositories last month, as mentioned by GitHub on this [blog](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/). We would like to migrate

[2021-10-02 04:09] HarshCasper opened #67 "Add a `CONTRIBUTING.md` for the project"
## Description

Currently, we don't have a `CONTRIBUTING.md`. We need to have a new `CONTRIBUTING.md` that takes some of the contexts from the existing contributing docs and makes it specific around the areas that we are looking to have contributions for.

The `CONTRIBUTING.md` can be improved by:

- Listing the steps to set up the community website locally.
- Adding new documentation, blogs and p

[2021-10-02 04:19] HarshCasper opened #68 "Add LightHouse CI for the Community Website"
## Description

The LightHouse CI should ideally:

- Add `lighthousesrc.json` to identify the metrics we are looking to track.
- Use the `aaron-binary/vercel-preview-url-action@v0.0.3` action to grab the deployed preview link.
- Use the `treosh/lighthouse-ci-action` to audit the preview link through LightHouse and upload generated files as artifact.
- Use the `actions/github-script` and `marocchin

[2021-10-02 04:51] HarshCasper opened #69 "Improve the Community Website Footer"
## Description

The current state of the footer on the community website is:

![image](https://user-images.githubusercontent.com/47351025/135703779-15f58b29-ebb8-425c-8dba-fda0ad0f3cba.png)

We would like to add more references here for sharing better context with our community members. Ideally we would like to have the following sections:

#### Community

- [ ] Blogs: https://community.moja.globa

[2021-10-02 05:00] Ishika414 commented on #69
I would like to work on this issue

[2021-10-02 05:02] HarshCasper opened #70 "Fix the alt text on the community website"
## Description

Currently, most of the images have an `alt` tag but we are still lacking some of the corner cases where we would like the images to be accessible to a larger audience. This issue is part of the larger scope where we are looking to improve the accessibility of our documentation for the general audience.

I am using the [WAVE® Web Accessibility Evaluation Tool](https://wave.webaim.or

[2021-10-02 05:03] HarshCasper commented on #69
Please let me know if you need any assistance or help. You can alternatively reach out to me on Slack as well.

[2021-10-02 05:06] toth2000 commented on #70
Looking into this.

[2021-10-02 05:09] Megatank58 commented on #66
I would like to do this

[2021-10-02 05:12] HarshCasper commented on #70
Please let me know if you need any help or assistance on the same. You can alternatively reach out to me on Slack for any questions.

[2021-10-02 05:12] HarshCasper commented on #66
Please let me know if you need any help or assistance on the same. You can alternatively reach out to me on Slack for any questions.

[2021-10-02 05:24] rutujaingole commented on #68
@HarshCasper  I'd like to work on this.

[2021-10-02 05:39] Megatank58 commented on #66
#71 fixes this

[2021-10-02 05:54] HarshCasper opened #72 "Fix `sitemap.xml` and add `robots.txt` on the community website"
## Description

Currently, our `sitemap.xml` isn't behaving as expected: https://community.moja.global/sitemap.xml

We would ideally like to fix this error. We would also like to add the `robots.txt` by referencing the agents that can crawl the website. Refer [this](https://github.com/facebook/docusaurus/discussions/4033).

[2021-10-02 06:00] eemike07 commented on #72
Hello, I would like to tackle this.  What's the expected behavior?
Is it something like this?  https://www.rocktherankings.com/page-sitemap.xml

[2021-10-02 06:13] Ishika414 commented on #69
Hi! i am not able to find the file containing the footer. Could you please help me with that.

[2021-10-02 06:44] HarshCasper commented on #69
Here you go: https://github.com/moja-global/community-website/blob/9683c920cfca58903f810c53135f46b994de17ca/website/docusaurus.config.js#L35

[2021-10-02 06:45] HarshCasper commented on #72
Exactly. This would be an easy fix by editing this line: https://github.com/moja-global/community-website/blob/9683c920cfca58903f810c53135f46b994de17ca/website/docusaurus.config.js#L5

[2021-10-02 06:54] #66 closed

[2021-10-02 09:43] RabsonJ commented on #67
Hello! Can I work on this?

[2021-10-02 10:28] HarshCasper commented on #67
We love to have you contribute. Please ping me here or reach out to me on Slack, if you need any help or assistance.

[2021-10-02 10:31] HarshCasper commented on #72
Hi @eemike07

You can also have a look at the same: https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-sitemap

[2021-10-02 12:57] toth2000 commented on #70
@HarshCasper sure, I will let you know over the community slack channel.

[2021-10-02 16:14] HarshCasper opened #77 "Feature Request: Add Google Analytics Plugin"
### Is your feature request related to a problem? Please describe.

Add and configure the [Docusaurus Plugin for Google Analytics](https://docusaurus.io/docs/api/plugins/@docusaurus/plugin-google-analytics) for the community website.

### Describe the solution you'd like.

The G-Tag for [moja.global](https://moja.global) is `UA-195907568-1`. We can use the same and the Google Analytics can take ca

[2021-10-02 16:19] faisaljamil25 commented on #77
@HarshCasper I would like to work on this feature.

[2021-10-02 16:20] faisaljamil25 commented on #65
@HarshCasper can you assign this to me?

[2021-10-02 16:49] eemike07 commented on #72
For the `robots.txt`, are there any bots you'd want to disallow?  Or just keep defaults for now?
[code]
I know that the following is by default -
[code]

[2021-10-02 16:50] HarshCasper commented on #72
@eemike07 Keeping default would be good.

[2021-10-02 19:17] eemike07 commented on #72
Had to create another branch and re-submit pull request to perform the `--signoff`

[2021-10-03 03:07] #72 closed

[2021-10-03 04:54] HarshCasper commented on #77
Thanks for taking it up! Please let me know if you need any help or assistance with the same.

[2021-10-03 05:39] sarthakkundra opened #80 "Feature Request: Redesign homepage"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2021-10-03 05:40] #80 closed

[2021-10-03 09:28] RabsonJ commented on #67
Thank you @HarshCasper! I need some information to include in the CONTRIBUTING.md:

1. the steps to set up the community website locally.
2. instructions to make an issue to report bugs/feature requests.
3. instructions to make a Pull Request to add new documentation or fix bugs.

And any other information to be included

[2021-10-03 09:32] HarshCasper commented on #67
Hi @RabsonJ :wave:

Thanks for reaching out!

Some of the contexts has been captured on our `FAQ.md` here: https://github.com/moja-global/community-website/blob/main/FAQ.md

We can keep the `CONTRIBUTING.md` as extensive documentation for the following:

- Forking and cloning the project
- Making changes for them on a branch
- Committing the changes (including some best practices)
- Ensuring the C

[2021-10-03 09:35] RabsonJ commented on #67
I’ll take that into account

On Sun, 3 Oct 2021 at 10:33 AM, Harsh Mishra ***@***.***>
wrote:

[2021-10-03 14:56] AnirudhPanda opened #84 "Bug: Homepage image is not responsive on larger screens"
### Describe the bug.

Homepage image is not responsive on larger screens (checked on 1900px)

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

![image](https://user-images.githubusercontent.com/66218496/135759506-d6cffe6f-1f84-4495-a95a-61acc412d186.png)

### Operating Environment

Windows 10

### Additional Information

_N

[2021-10-03 16:55] #84 closed

[2021-10-04 03:11] #77 closed

[2021-10-04 05:08] AmanPathak-dev commented on #62
assign me
i will fix it
if you assign me the role to fix it

[2021-10-04 05:25] HarshCasper opened #87 "Feature Request (CI): Add the Build Size Bot for the Community Website"
### Is your feature request related to a problem? Please describe.

Integrate build size bot (or alternatives) to run on PRs to detect bundle size and performance regressions whenever changes are made to the repository.

### Describe the solution you'd like.

A GitHub Bot utilizing the `preactjs/compressed-size-action` that can track the changes in the build and give an update on the impact over t

[2021-10-04 06:40] HarshCasper commented on #87
Fixed in https://github.com/moja-global/community-website/pull/88

[2021-10-04 06:40] #87 closed

[2021-10-04 18:13] Jassi10000 commented on #70
@HarshCasper Is the issue unassigned ?
can i work on this  ?

[2021-10-04 18:16] Jassi10000 commented on #8
@HarshCasper Can I work on this issue , Please assign me

[2021-10-04 18:26] sarthakkundra commented on #8
Assigned @Jassi10000. Let me know if you need anything :)

[2021-10-04 18:26] sarthakkundra commented on #70
@Jassi10000 You can pick this up if this is still unassigned after you complete the issue assigned to you :)

[2021-10-04 18:40] #68 closed

[2021-10-04 19:09] Jassi10000 commented on #8
Sure , thank you @sarthakkundra

[2021-10-04 19:09] Jassi10000 commented on #70
Sure @sarthakkundra

[2021-10-04 19:43] toth2000 commented on #70
@HarshCasper I have checked the whole site using the mentioned tool but couldn't find a single image without alt text. Maybe we should keep this issue open as new commits are being made to the repo.

[2021-10-05 04:34] rohan-kulkarni-25 opened #97 "Bug: Light mode links not visible"
### Describe the bug.

When we switch to light mode the text in the links remain black so its not visible

### Describe the steps to reproduce the behavior.

We can switch the color to white so it will be visible

### Expected behavior.

When color is light it should be white

### Screenshots.

![Screenshot from 2021-10-05 10-02-50](https://user-images.githubusercontent.com/76584243/135960592-cab0

[2021-10-05 04:39] sarthakkundra commented on #97
Thanks for pointing this out Rohan. Would you like to work on this?

[2021-10-05 05:01] rohan-kulkarni-25 commented on #97
Yes !!

[2021-10-05 05:21] HarshCasper commented on #97
Thanks for pointing it out!

I was going to create the issue myself after I noticed it this morning :joy:

[2021-10-05 05:22] HarshCasper commented on #70
Sure! I will keep you in an assignment because I and @sarthakkundra are pushing a lot of changes and breaking a lot in the process.

[2021-10-05 05:26] HarshCasper commented on #8
Hi @Jassi10000

We already have added a lot of actions here. We would appreciate help with this: https://github.com/moja-global/community-website/blob/main/.github/workflows/build-size.yml

Currently, the Build Size bot doesn't work properly. It might be due to the `package-lock.json` being polluted by broken deps. Here is how you can test it out and resolve the same:

- Fork the repo and enable a

[2021-10-05 05:33] Jassi10000 commented on #8
Btw am nearly completed with first time contributors action , should i leave it or send a PR for that too ?

[2021-10-05 14:04] utkarsh1311 opened #100 "Bug: The links in the header section of website are too close"
### Describe the bug.

The links mentioned in the ```hero``` div of header section of the home page look too close due to improper margin.

![Screenshot from 2021-10-05 19-27-55](https://user-images.githubusercontent.com/70108561/136037937-86afea28-19ee-41da-825c-053205d5cf6c.png)

### Describe the steps to reproduce the behavior.

Modify the margin of the links in ```hero``` div of header section

[2021-10-05 14:07] HarshCasper commented on #100
Thanks for taking it up @utkarsh1311 :pray:

We are also looking for some help with re-implementations of our UI components. Please let us know if you would like to help us with the same.

[2021-10-05 14:09] utkarsh1311 commented on #100
Sure I would love to. 😊

[2021-10-05 14:18] Eddievin commented on #100
Hey, I would like to help with this too. Which one can I start with?

[2021-10-05 14:58] HarshCasper commented on #100
Hi @Eddievin @utkarsh1311

I will create the issues in a few hours. You can track all of the issues being created here:

![image](https://user-images.githubusercontent.com/47351025/136048504-446d75c3-236f-4bd4-983c-3fd04bbffb9d.png)

You can join our Slack as well and drop a message on the #community-website channel.

[2021-10-05 15:25] 17bcs1837 commented on #100
Hi @HarshCasper,
I would like to work on this issue as well. Waiting for the issues to be created!

[2021-10-05 15:34] Harsh19189 opened #102 "Bug: Timeline not visible in Dark mode in Roadmap section"
### Describe the bug.

When we switch to dark mode in the View Timeline of Projects in Roadmap Section the texts remains invisible unless we switch to light mode.

### Describe the steps to reproduce the behavior.

We can switch to any dark colour (e.g black, dark green etc.).

### Expected behavior.

The texts in Timeline should be visible in both Dark and Light mode.

### Screenshots.

![View Tm

[2021-10-05 15:41] 17bcs1837 commented on #102
Hi,
I would like to work on this issue. Please assign me this issue.

[2021-10-05 16:10] Harsh19189 commented on #102
I would also like to work on this issue, Please do assign this issue to me also.

[2021-10-05 16:22] faisaljamil25 commented on #65
@HarshCasper I'm a bit confused how can I add customized SEO in the description prop as it's take string input?

[2021-10-05 17:10] padmajabhol opened #103 "Bug: footer is not responsive for 999px and below."
### Describe the bug.

The footer breaks for max-width 999px, the footer items should align next to each other in columns rather than in a single row.

### Describe the steps to reproduce the behavior.

-scroll down to the footer
- open chrome devTool on the landing page
- adjust the screen to 999px or lower

### Expected behavior.

Stack the footer items next to each other in columns and rows rat

[2021-10-05 19:20] mstofirova commented on #103
Hello, Can I work on this issue please?

[2021-10-06 04:09] #102 closed

[2021-10-06 11:15] HarshCasper commented on #103
I will be creating new issues soon. Please feel free to take them up :smile:

[2021-10-06 17:41] AnirudhPanda commented on #97
Any updates on this issue @rohan-kulkarni-25

[2021-10-07 17:02] #69 closed

[2021-10-07 17:05] #103 closed

[2021-10-08 05:12] HarshCasper commented on #65
Please look at my issue description.

[2021-10-09 04:27] HarshCasper commented on #97
Sure, it's a critical bug. I would like it to be fixed on priority.

[2021-10-09 12:50] #100 closed

[2021-10-09 13:47] padmajabhol commented on #67
Can I take this up if no one's working on it currently? @HarshCasper

[2021-10-10 04:47] Ruchip16 commented on #31
I am working on this issue

[2021-10-10 06:12] utkarsh1311 commented on #97
Can I work on this too?

[2021-10-10 06:43] HarshCasper opened #123 "Feature Request: Refactor the Site-level CSS for accessibility"
### Is your feature request related to a problem? Please describe.

As of now, the CSS at the site level is not very accessible for reading text in the light-mode. We would ideally like to refactor the CSS to ensure it is accessible and the background should be softened.

### Describe the solution you'd like.

These are the themes that we follow on moja global:

![image](https://user-images.github

[2021-10-10 06:50] HarshCasper opened #124 "Feature Request: Add a Sponsors section on the index page"
### Is your feature request related to a problem? Please describe.

Moja global community is sponsored and funded by multiple organizations across the world.

They include:

- The Linux Foundation
- Natural Resources Canada
- Mullion Group
- UNFCCC
- Climate Advisers
- Vercel (Infrastructure)

We would ideally like to have them on the index page. Right now, we have put Vercel and The Linux Foundat

[2021-10-10 06:51] HarshCasper commented on #123
Thanks for taking it up :smile:

[2021-10-10 06:58] AnirudhPanda commented on #97
### On LIGHT mode:

Which one should we keep?

![image](https://user-images.githubusercontent.com/66218496/136685624-f3f58778-a7e4-4bd2-8cd7-93ad9e604f2a.png)

OR

![image](https://user-images.githubusercontent.com/66218496/136685717-cadc0e8d-fd88-449e-93b2-2743e8d94cee.png)

[2021-10-10 07:01] Sukriti-sood commented on #124
Can I work on this?

[2021-10-10 07:07] HarshCasper opened #125 "Feature Request: Create a Community Contributors Section"
### Is your feature request related to a problem? Please describe.

As of now, we only feature the Community Website contributors on the community website. We would like to ideally feature a "community-wide" contributor section where all the contributors from all moja global projects can be featured. We would ideally like to have the following:

- Name
- Profile Picture
- GitHub URL
- Projects con

[2021-10-10 07:08] HarshCasper commented on #124
Thanks for taking it up!

[2021-10-10 07:09] HarshCasper commented on #97
The second is preferred.

[2021-10-10 07:17] HarshCasper opened #126 "Bug: Fix the Contributing Guidelines link on the Footer"
### Describe the bug.

The Contributing Guidelines in the Getting started section, leads to a 404. It has been because the URL has not been correctly set.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

Currently, clicking on the link leads to: https://community.moja.global/community/contributing-guidelines

It should ideally lead to: https://community.mo

[2021-10-10 07:23] HarshCasper opened #127 "Documentation: Migrate moja global strategic plans to community website"
### What is the current documentation state?

Currently, the strategic plans are hosted here: https://github.com/moja-global/About_moja_global/blob/master/Governance/STRATEGIC-PLANS.md

### Where is this stated?

https://github.com/moja-global/About_moja_global

### Why do you want to improve the statement?

We are migrating moja global specific docs and content over the community website. We have

[2021-10-10 07:31] #126 closed

[2021-10-10 10:01] AnirudhPanda commented on #127
I can take this?

[2021-10-11 03:35] HarshCasper opened #131 "Bug: Vercel deployment fails due to the Contributor Script"
### Describe the bug.

We use a Node Script during the post-install process to fetch the list of contributors for the community website. However during the Vercel build process, after a PR gets merged, the deployment fails due to a bug in the Node script. The deployments have to be manually triggered to invalidate the cache before proceeding.

### Describe the steps to reproduce the behavior.

The

[2021-10-11 03:36] HarshCasper commented on #67
Hi @padmajabhol

You can have a go on the same.

[2021-10-11 03:36] sandeep-v1404 commented on #131
Hey Harsh. Can you assign it to me? @HarshCasper

[2021-10-11 03:40] sandeep-v1404 commented on #125
Can you assign me this issue ? @HarshCasper

[2021-10-11 03:40] HarshCasper commented on #62
Hi all,

This repository doesn't concern the actual moja global website. If you happen to find any bugs or issues on the community website (community.moja.global), please feel free to create an issue.

[2021-10-11 03:40] #62 closed

[2021-10-11 03:41] HarshCasper commented on #125
Please work on the issue already assigned to you.

[2021-10-11 04:05] HarshCasper opened #132 "CHORE: Remove duplicated `.gitignore` from the repository"
### Describe what you are trying to do and why it is not optimal.

We have two `.gitignore` on the same repository. One is present on the root ([here](https://github.com/moja-global/community-website/blob/main/.gitignore)) while the other is present on the `website` directory ([here](https://github.com/moja-global/community-website/blob/main/website/.gitignore)).

### Describe the solution you'd l

[2021-10-11 04:12] HarshCasper opened #133 "CHORE: Remove duplicated headings on the `Code Contributions` page"
### Describe what you are trying to do and why it is not optimal.

Over the `Code Contributions` page, we have plenty of duplicated headings: https://community.moja.global/community/code-contribution

We would ideally like them to be fixed for accessibility issues.

### Describe the solution you'd like.

Here are all the duplicated headings:

- https://community.moja.global/community/code-contribu

[2021-10-11 04:23] HarshCasper opened #134 "Documentation: Add hyperlinks on the `Mentorship` page"
### What is the current documentation state?

Currently, we list the mentorship and internship opportunities offered by moja global on the Mentorship page. However, we lack hyperlinks and references to the actual programs and would ideally like to fix the same.

### Where is this stated?

https://community.moja.global/community/mentorship

### Why do you want to improve the statement?

Adding more

[2021-10-11 04:35] HarshCasper opened #135 "CHORE: Add links on the `Get involved` section of the `Initiatives` page"
### Describe what you are trying to do and why it is not optimal.

As of now, the `Learn more` buttons for the `Get involved` section, does not direct to anywhere.

Find the initiatives page here:

- https://community.moja.global/initiatives
- https://github.com/moja-global/community-website/blob/main/website/src/pages/initiatives.js

### Describe the solution you'd like.

 We would like to add th

[2021-10-11 04:39] toth2000 commented on #135
Looking into this.

[2021-10-11 05:18] HarshCasper commented on #134
Welcome to the community and thanks for taking it up!

[2021-10-11 07:17] caseynv commented on #135
Hi, I am an outreachy applicant. I'd like to work on this.

[2021-10-11 09:16] Yash-271120 commented on #134
@HarshCasper I have made a pull request. Please check it! Thanx :)

[2021-10-11 11:24] HarshCasper commented on #132
Exactly.

[2021-10-11 11:24] #133 closed

[2021-10-11 11:35] Amishakumari544 commented on #132
Is it open to work? Can I take this?

[2021-10-11 14:31] King-kay commented on #132
Oh!!🤦🏽..too slow

[2021-10-11 14:42] King-kay commented on #132
I already did it ws waiting for the reply to drop pr🙃🙃..too bad

[2021-10-11 23:37] caseynv commented on #135
HI. which link do you want exactly for the Learn more? The moja community on slack or GitHub?

[2021-10-12 08:53] #132 closed, assigned to Amishakumari544

[2021-10-12 11:33] sohamsshah opened #144 "Performance: Defer Off-Screen Images (on `/` Route)"
### Describe the bug.

The Off-Screen Images (eg. Contributors images) on the Home Page contributes to the major drawbacks of App Performance. The Proposed Solution is to `Lazy-Load` these images and render when they are visible on the screen.

### Describe the steps to reproduce the behavior.

This is observed by Lighthouse test.
Observed in the Performance section.

### Expected behavior.

The F

[2021-10-12 11:34] Amishakumari544 opened #145 "Bug: Project option duplicated"
### Describe the bug.

![moja](https://user-images.githubusercontent.com/49230384/136948366-0218ad21-1809-4006-9ed7-b2099361c44c.png)

we already have project option in the header section then why we are using that two times and Its not looking good also to have 3 buttons

### Describe the steps to reproduce the behavior.

we can remove the "know your project button" which already in the header pa

[2021-10-12 11:36] Amishakumari544 commented on #145
can I move with this @HarshCasper ?

[2021-10-12 11:38] sohamsshah opened #146 "Performance: Properly size images not present (On `/` route)"
### Describe the bug.

There is performance drawback when loading images in the view because of absence of `width` and `height` attributes to the `img` HTML elements used in the project.

### Describe the steps to reproduce the behavior.

Run the Lighthouse test to observe the performance lags.

### Expected behavior.

The images should have proper size. This improves performance because the brows

[2021-10-12 12:46] shivani6320 commented on #35
I would like to work on this issue as an outreachy applicant. @sarthakkundra @HarshCasper Can you please assign me this issue?

[2021-10-12 14:02] sohamsshah opened #148 "Question: Reason for recommending multiple Package Managers for same project"
### Describe the bug.

Currently, in the `community-website/website`; which hosts the docsite uses `yarn` as a default package-manager. If the user installs the dependencies using `npm` package manager with commands such as `npm i` or `npm install`; then `package-lock` file is created alongside of `yarn.lock`.

It is a better practice to guide the developers to work with `yarn` as our default pack

[2021-10-13 05:59] #127 closed

[2021-10-13 07:49] Ruchip16 opened #150 "Documentation: moja-global charter link is not working"
### What is the current documentation state?

In the website, when I navigated to docs/about-moja-global, I observed that read the moja-global charter link when clicked is not working and gives a page not found an error

![image](https://user-images.githubusercontent.com/72685035/137089068-01e66010-1a4c-4d89-9585-337cbf0927a6.png)

### Where is this stated?

![image](https://user-images.githubuser

[2021-10-13 12:48] HarshCasper commented on #125
Docusaurus does that automatically for us. You can either create a Markdown Page or a React page to complete that.

https://github.com/moja-global/community-website/tree/main/website/src/pages

[2021-10-14 04:44] #134 closed

[2021-10-14 05:19] Mukulikaa commented on #36
Hey @King-kay, unfortunately this has fallen off my radar completely and I don't think I'll be able to get back to it in the near future. If you want to work on it, you are welcome to! Thanks.

[2021-10-14 06:05] AnirudhPanda opened #154 "Bug: Responsive Issue between 998px and 1204px"
### Describe the bug.

Overlapping of Navbar Items

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

![image](https://user-images.githubusercontent.com/66218496/137260962-c3c9223a-74e7-4a79-a23f-945f40fa1c3c.png)

### Operating Environment

Windows 10

### Additional Information

_No response_

[2021-10-14 06:14] AnirudhPanda opened #155 "Documentation: Fix the spelling error of `Blogs`"
### What is the current documentation state?

By default, the sidebar shows five items, but you can disable this feature by setting the `bolgsSidebarCount` to infinity.

### Where is this stated?

https://community.moja.global/community/community-website-contributions#writing-new-blogs

### Why do you want to improve the statement?

Fix the spelling error.
![image](https://user-images.githubuserco

[2021-10-14 07:17] King-kay commented on #36
Okay...thanks @Mukulikaa , Secondly, i'll need instructions/insights for how new users can get started with this project.
I would like to take up this issue

[2021-10-14 11:18] Mukulikaa opened #157 "Documentation: Incorrect links in repository README"
Currently, the first two links of [Contribution Guides](https://github.com/moja-global/community-website#contribution-guides) lead to [Contributing Guidelines](https://community.moja.global/community/contributing) instead of the intended sub-sections. I think this is because of a slight mistake in the URL.

[2021-10-14 13:05] #155 closed, assigned to nobody

[2021-10-14 21:17] JanaTod commented on #154
Hello, can I work on this?

[2021-10-15 16:10] #154 closed, assigned to JanaTod

[2021-10-15 17:16] HarshCasper commented on #157
Hi @Mukulikaa

Thanks for pointing out. They should follow up to these links:

- https://community.moja.global/community/community-website-contributions#writing-new-blogs
- https://community.moja.global/community/community-website-contributions#adding-new-documentation

Can you make a PR for the same? Thanks!

[2021-10-15 17:19] HarshCasper commented on #150
Hi @Ruchip16

Here is the moja global charter: https://github.com/moja-global/community-website/blob/main/website/static/moja-global-charter.pdf

You can reference it by the relative path and this would work!

[2021-10-15 17:22] HarshCasper opened #160 "Bug: `moja global` community logo not visible on the NavBar"
### Describe the bug.

The `moja global` community logo is not visible on the NavBar.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

The logo should be visible.

### Screenshots.

Before:

![image](https://user-images.githubusercontent.com/47351025/137527882-73ac7fcc-f858-4553-b395-2829a7c81c79.png)

After:

![image](https://user-images.githubusercontent

[2021-10-15 17:27] HarshCasper opened #161 "Feature Request: Integrate Algolia DocSearch to the Community Website"
### Is your feature request related to a problem? Please describe.

As of now, we are using the `@easyops-cn/docusaurus-search-local` for search across the community website. However it does not cover all the edge cases and we would like to integrate a more powerful solution.

### Describe the solution you'd like.

I have applied for the Algolia DocSearch and we have been selected! I have been sha

[2021-10-15 17:34] HarshCasper opened #162 "Feature Request: Add a Workshops/Talks Page for the Community Website"
### Is your feature request related to a problem? Please describe.

Moja global recently engaged in a series of workshops at the United Nations Framework Convention on Climate Change where we introduced a wide audience about Moja global, our open source community, FLINT, Reporting tools, examples, and more.

We have released all the presentations and videos from the UNFCCC workshops on our YouTube

[2021-10-15 17:46] HarshCasper opened #163 "Feature Request: Create a Community Calendar section"
### Is your feature request related to a problem? Please describe.

As of now, we have an initiatives page where our upcoming meetups and events are documented and organized: https://community.moja.global/initiatives

However these are hard to maintain, and are not UX-friendly. We would like to have a community calendar implementation so that it becomes easy for us to know and understand our upcom

[2021-10-15 17:50] HarshCasper opened #165 "Documentation: Write a blog on the "LFX Mentorship experience" for Summer Term"
### What is the current documentation state?

We would like to document the experience of @shubhamkarande13, @waridrox, and @nynaalekhya while working on the project [Cloud native measurement, reporting, and validation of carbon emissions](https://mentorship.lfx.linuxfoundation.org/project/d70e1f9e-abde-403f-8389-52a122301500).

### Where is this stated?

The blog should be published on: https://c

[2021-10-15 17:51] HarshCasper opened #166 "Documentation: Add FLINT JSON Editor in the `Projects` section"
### What is the current documentation state?

Add FLINT JSON Editor in the `Projects` section.

### Where is this stated?

https://github.com/moja-global/FLINT.JSON_Interface/

### Why do you want to improve the statement?

_No response_

### Proposed Statement

We would need to add:

- About FLINT JSON Interface
- Changelog

### Additional context.

_No response_

[2021-10-15 17:59] HarshCasper opened #167 "Documentation: Add Documentation Working Group in the `Community` section"
### What is the current documentation state?

We would need to migrate the Documentation Working group description and purpose to the community website. While we can remove the `About moja global` section, rest of the sections would remain the same.

### Where is this stated?

https://github.com/moja-global/Google.Season.of.Documentation/blob/master/Documentation-Working-Group-Proposal.md

### Why

[2021-10-15 19:04] Amishakumari544 commented on #160
Can I take this??

[2021-10-15 19:08] Amishakumari544 commented on #161
Could you please assign me this?

[2021-10-16 06:57] sandeep-v1404 commented on #162
Can I work on this issue? @HarshCasper

[2021-10-16 10:33] #160 closed

[2021-10-16 11:39] padmajabhol opened #171 "Bug: Fix the 'Know the Community' for smaller screen."
### Describe the bug.

The 'Know the community" section breaks for max-width 999px.

### Describe the steps to reproduce the behavior.

Go to the particular section and inspect with max width 999px or lower.

### Expected behavior.

The children divs should align next to each other with a minimum of 2 divs.

### Screenshots.

![SScreenshot (455)](https://user-images.githubusercontent.com/75530516/

[2021-10-16 15:09] shivani6320 commented on #163
Hey @HarshCasper ! I have little confusion about the final outcome of this issue. Should I use particular react based calendar as mentioned by forking it and editing later or just simply maintain a google sheet which can be easily accessed or edited by admins?  Also, where should I put it - into a specific folder or just place its link in comment while making final pull request?

[2021-10-16 17:21] HarshCasper commented on #163
The first preference. We need to have a Calendar component that can be easily used to put forward our community calendar. You can apply your own intuition to understand what can be the best for the purpose of the community members :)

[2021-10-17 06:34] tanay123456789 commented on #47
There are high chances that whatever changes I did in this PR are wrong but in these past two days, I had given my hundred percent to resolve this issue. If there is anything wrong then please provide me with some more inputs on how to fix it.

[2021-10-17 11:11] Mukulikaa commented on #167
Oops, @HarshCasper  I mentioned the wrong issue in my PR (#172); it was supposed to be #157. I guess you'll have to reopen this issue 🙂.

[2021-10-17 11:12] Mukulikaa commented on #157
Closed #157 by #172.

[2021-10-17 11:12] #157 closed, assigned to Mukulikaa

[2021-10-17 13:42] helper-uttam commented on #171
Hey @padmajabhol, are you working on this? If not then can I?

[2021-10-18 19:19] sohamsshah opened #178 "Documentation: Add Linting Guidelines in the `community-website/website` README.md docs"
### What is the current documentation state?

Currently, the README.md file of `community-website/website` doesn't have mentions about Linting Guidelines for the docsite. This results into improperly-linted code pushed to production.

The `eslint` is already configured for the project; and commands `lint` and `lint:fix` exist in `package.json` which can be run to lint the codebase.

### Where is t

[2021-10-18 19:26] sohamsshah opened #179 "Documentation: Add Build and Serve Command details in `community-website/website` README.md docs"
### What is the current documentation state?

Currently, there is no mention about `build` and `serve` commands in the README.md docs. It is a good practice to check the build on local before pushing for a PR to check the overall working of the app.

### Where is this stated?

_No response_

### Why do you want to improve the statement?

It is a good idea to check the proper working of code on run

[2021-10-21 04:29] katzesoundz opened #184 "Communication Suggestion: change the name "docs" on repo to "projects/docs""
### Describe how we are communicating and why it is not optimal.

I was working on the issue #166 and it took me a while until I figure out where projects section was located on the community repo.
I couldn't find it because it was named as "docs", but all the other sections were named just like in the community web site.

### Describe the solution you'd like.

change the name "docs" on the commun

[2021-10-21 04:37] katzesoundz commented on #184
if you consider this issue relevant, please assign it to me.

[2021-10-21 08:34] Ruchip16 commented on #150
@HarshCasper the issue has been resolved as I viewed now other contributor added the pdf there itself in the development folders, hence closing this issue now

[2021-10-21 08:34] #150 closed

[2021-10-21 10:26] #161 closed

[2021-10-22 03:27] rehanmohiuddin commented on #144
@sohamsshah @HarshCasper pls assign it to
Me will work on this

[2021-10-22 06:29] #171 closed, assigned to padmajabhol

[2021-10-22 06:31] #179 closed, assigned to nobody

[2021-10-23 02:42] ghost opened #188 "Documentation: Add list of more contributors in README.md docs"
### What is the current documentation state?

If you see **README.md** docs it did not list all contributors while [moja-global community website](https://community.moja.global/) displays the list of all contributors.

### Proposed Statement

I propose to add a list of all contributors in **README.md**  documentation.

[2021-10-24 10:37] Aniket762 opened #191 "Bug: Equalizing sponsor section graphics"
### Describe the bug.

The logos of LFX, UN, Vercel, Climate Advisers and Mullion Group are of different sizes but on the same line. This is not only hampering the UI but even the sponsors can feel they are not equi-valued.

### Describe the steps to reproduce the behavior.

Scroll down to the sponsors section below contributors.

### Expected behavior.

Equi-sized logos and if preferred removing

[2021-10-26 06:32] #188 closed, assigned to nobody

[2021-10-26 15:01] Charud25 opened #196 "Bug: Uneven Community Initiatives layouts"
### Describe the bug.

The LFX mentorship box layout is different than the other Initiatives i.e. Google Season of Docs , Google Season of Docs and Google Summer of Code .

### Describe the steps to reproduce the behavior.

Click on the Initiatives tab on Home page .

### Expected behavior.

Even out  layouts for all initiatives and make them look similar and clean.

### Screenshots.

<img width="

[2021-10-27 17:30] #191 closed, assigned to Aniket762

[2021-10-30 15:47] Amishakumari544 commented on #163
hey @HarshCasper  if @shivani6320  is not working may I try this?

[2021-10-31 09:01] padmajabhol commented on #125
Can I work on this if this is still open?

[2021-10-31 14:16] asmijafar20 commented on #125
Working on it! If you can write the scripts using GitHub API for fetching org-wide contributors that would be great. Because I have created the manually maintained JSON file. we need to write node script if you can take this part of the issue. Because I have already written the code, I just have to rewrite some files. you can check [here](https://github.com/moja-global/community-website/pull/177)

[2021-11-01 05:29] Ruchip16 opened #203 "Documentation: Flint Reporting Tool Section under Projects needs to be updated"
### What is the current documentation state?

Documentation for the flint reporting tool, flint visualization tool & predictive deforestation projects are empty.

![image](https://user-images.githubusercontent.com/72685035/139625725-cb1068e6-2184-4ca8-bd6d-210b42895661.png)

### Why do you want to improve the statement?

Adding the documentation of this would increase the contributions for these p

[2021-11-01 06:01] #178 closed

[2021-11-06 13:33] #196 closed

[2021-11-08 14:20] Palaksharma23 opened #208 "Hover Effect in Footer links"
### Describe the bug.

The links in the footer must have Underline on hovering , Now they just have white color on hover

### Describe the steps to reproduce the behavior.

1) Go to main Website
2) Scroll down to footer section
3) Hover on any link
4) See the effect then

### Expected behavior.

_No response_

### Screenshots.

<img width="867" alt="footer" src="https://user-images.githubuserconte

[2021-11-08 14:36] Palaksharma23 opened #209 "Case study option in navbar"
### Describe the bug.

Currently in navbar of the website the option CASE STUDY is little odd
i think we should make case study option inline with other elements either by decreasing the font-size or by shifting other elements little bit towards left

### Describe the steps to reproduce the behavior.

1) Go to main website
2) See error in navbar

### Expected behavior.

_No response_

### Screensh

[2021-11-09 08:44] yashsehgal commented on #209
Hey maintainers 👋🏽
I would like to work on this issue if no one is currently working on it.

[2021-11-09 11:39] razetime commented on #209
I'm not able to reproduce this on my laptop with the same operating environment you have given. You may need to provide screen resolution/other extensions which might be altering the state of the page.

[2021-11-09 12:45] yashsehgal commented on #209
Hey @razetime You can try [Blisk Browser](https://blisk.io/) to test the local rendered page on different screen sizes and fix this accordingly 👍🏽 Hope this might help you.

[2021-11-09 12:55] Palaksharma23 commented on #209
@yashsehgal currently i am working on this issue , please try on different one.
Thank you

[2021-11-11 05:00] Amishakumari544 commented on #167
@asmijafar20  are you working on it ??

[2021-11-11 05:33] its-harsshhh commented on #208
hello, i am interested to work on this issue. so could you please assigned it to me?

[2021-11-12 01:47] #70 closed

[2021-11-12 14:21] helper-uttam commented on #208
Hey @Palaksharma23  Is that necessary?  I think this would not look more attractive after putting `text-decoration to underline`.

[2021-11-13 01:46] #8 closed

[2021-11-17 14:20] tanay123456789 commented on #125
Working on it

[2021-11-19 01:46] #135 closed

[2021-11-19 01:46] #31 closed

[2021-11-19 06:01] Ruchip16 opened #212 "Feature Request: Redirect Watch Tutorial to Tutorial page on the Navbar instead of youtube"
### Is your feature request related to a problem? Please describe.

After clicking on watch tutorials, it gets redirected to youtube and since we have the tutorial section on the Navbar we can simply redirect watch tutorials to the tutorial page and add the present tutorials there with their youtube links, this wouldn't make the tutorial page look empty

CC: @HarshCasper

### Describe the solution

[2021-11-19 18:25] aryanxk02 commented on #212
I'll take up this, will do a PR soon! @Ruchip16

[2021-11-19 18:58] aryanxk02 commented on #212
Actually, I am done doing this and was about to make a PR. I have the file ready! @Ruchip16

[2021-11-19 19:09] Ruchip16 commented on #212
Okay cool, next time just inform once hence others time wouldn't get wasted but nvm thanks for making the PR @aryanxk02

[2021-11-19 19:10] aryanxk02 commented on #212
@Ruchip16 Thanks a lot! Will take care hence forth :)

[2021-11-20 01:46] #148 closed

[2021-11-20 01:46] #35 closed

[2021-11-20 11:22] Palaksharma23 commented on #208
i think it will help user to find out that it is a redirected link .

[2021-11-20 11:24] Palaksharma23 commented on #209
@razetime this issue is present in all sized devices on my laptop.

[2021-11-20 11:24] Palaksharma23 commented on #209
maybe it is not present on large screens

[2021-11-20 11:54] helper-uttam commented on #208
But as we hover over any link then our cursor will be changed to pointer which shows that there is some link attached to it. 🤔

[2021-11-20 15:55] anjali1102 opened #214 "Error in text"
### Describe the bug.

![readme-moja-docs](https://user-images.githubusercontent.com/56559378/142732633-337fc246-abf6-4dbf-ba1e-767e3c0a18f0.PNG)

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating Environment

Windows

### Additional Information

_No response_

[2021-11-20 17:15] khanjasir90 commented on #214
hey can i take this up!

[2021-11-21 01:47] #36 closed

[2021-11-21 05:51] khanjasir90 opened #215 "Bug: Images not getting Displayed in About Us Section of Website"
### Describe the bug.

Images are not getting displayed in About Us Section of Website!

### Describe the steps to reproduce the behavior.

Go to https://moja.global/about/  and scroll down.

### Expected behavior.

Images should get displayed

### Screenshots.

![image](https://user-images.githubusercontent.com/53305380/142751319-72dcba80-ef43-4925-b4b1-041a2d0614b3.png)
![image](https://user-ima

[2021-11-21 05:51] khanjasir90 commented on #215
@HarshCasper can i take this up!

[2021-11-22 01:46] #165 closed

[2021-11-22 03:18] #215 closed

[2021-11-23 08:49] Sukriti-sood opened #216 "Bug: Roadmap page"
### Describe the bug.

- Project Section is breaking the responsiveness of the page
- In Dark Mode View Timeline Option is not readable

### Describe the steps to reproduce the behavior.

Go [here](https://community.moja.global/roadmap)

### Expected behavior.

_No response_

### Screenshots.

![Roadmap _ Moja G (2)](https://user-images.githubusercontent.com/55010599/142993427-e05bd1da-b064-4571-b

[2021-11-23 09:00] Sukriti-sood opened #217 "Bug: Sidebar not visible for Screen size: 997px -1280px"
### Describe the bug.

Sidebar is not visible for Screen size: 997px -1280px and fixx the edit page links in Website, which is currently redirecting to wrong pages.

### Describe the steps to reproduce the behavior.

- Visit [here](https://community.moja.global/).
- From the responsive window, change the screen size between 997px -1280px.

### Expected behavior.

Sidebar should be visible.

### Sc

[2021-11-26 07:14] madhhuurrii commented on #167
Hi, @HarshCasper is this issue available? I would like to contribute!

[2021-11-28 19:33] wasp0094 commented on #214
please assign me this issue if it's still open

[2021-11-28 19:40] nerdynikhil commented on #216
I would like to work on this. @Sukriti-sood

[2021-11-30 05:00] #216 closed

[2021-12-03 01:47] #144 closed

[2021-12-03 18:41] YashKandalkar commented on #184
@HarshCasper Hello! Is this still up for taking? Having the links like "/projects/about-moja-global" etc. under the "Projects" nav item makes sense rather that the current docs/.
I managed to change the default `docs` folder of `docusaurus` to `projects` and covered all the links that referred to `docs`.
Should I make a PR for this?

[2021-12-05 07:25] Palaksharma23 commented on #217
i would love to take up this issue .

[2021-12-05 07:40] Sukriti-sood commented on #217
I am working on this.

On Sun, Dec 5, 2021, 12:55 PM Palak Sharma ***@***.***> wrote:

[2021-12-07 09:52] khush2706 opened #228 "Bug: Responsiveness issues and functionality bugs"
### Describe the bug.

## This issue is intended to address the bugs and responsiveness issues encountered on the website along with improvement in UI design of some elements.

### The heading and layout of the contributors section in mobile view is out of place.

![image](https://user-images.githubusercontent.com/86849664/144981406-fee77abc-b6eb-4033-af75-bca570c6399f.png)

### The footer alignme

[2021-12-07 09:54] khush2706 commented on #228
@HarshCasper I would like to work on this issue.

[2021-12-07 13:51] padmajabhol opened #229 "Improve the Roadmap Page."
The current state of the roadmap page:
https://community.moja.global/roadmap
![Screenshot (521)](https://user-images.githubusercontent.com/75530516/145040943-0fe84b41-65ed-45d9-83ba-378ee5ae8b1e.png)

We would like to redesign and improve the current UI.

One can take inspiration from the following resources:
https://www.asyncapi.com/roadmap
https://docusaurus.io/showcase

[2021-12-08 14:13] SanjaySinghRajpoot commented on #229
Yes, it looks a little odd. We can add some sort of pinpoints to mention the projects and some other steps as follow-up chart pattern.

I would like to collaborate on this issue.

[2021-12-08 14:31] SanjaySinghRajpoot commented on #229
I have made the following changes to the roadmap page. @sohamsshah please review these changes.

@padmajabhol please let me know if I can a PR for these changes.
<img width="959" alt="image" src="https://user-images.githubusercontent.com/67458417/145225438-e9a4754e-bc62-4a3f-8009-a35a9d0878e1.png">

Thank You.

[2021-12-08 16:14] sohamsshah commented on #229
Hey @SanjaySinghRajpoot , thanks for working on this. Please raise a PR so that we can quickly review and get these changes merged!

[2021-12-08 19:33] padmajabhol commented on #229
This looks good,

[2021-12-08 19:37] padmajabhol commented on #229
Sure, please raise a PR for this.

[2021-12-09 01:48] #203 closed

[2021-12-09 08:10] Apurba-Nath-cpu opened #231 "Bug: Too long navbar list"
### Describe the bug.

Currently, the navbar has way too many options which makes it a bit congested. It would make it brief and crisp if we can replace some options with small groupings of them.

### Describe the steps to reproduce the behavior.

1. Go to the community website of Moja Global.
2. View the current navbar.

### Expected behavior.

Insertion of two/three dropdowns to show the current

[2021-12-10 10:03] SanjaySinghRajpoot commented on #229
@sohamsshah please review these changes.

[2021-12-11 04:26] Palaksharma23 commented on #231
i would love to take up this issue
@HarshCasper can you please tell me which options should i add in one dropdown

[2021-12-11 06:32] HarshCasper commented on #231
You should notice that this issue is already assigned. Since you are a WoC participant, create issues around what is mentioned on your proposal and request for assignment.

[2021-12-11 06:54] aayushsrivastava9760 opened #233 "The sponsors list is very unresponsive ."
The sponsors list shown at the bottom of the home page is very unresponsive .

![WhatsApp Image 2021-12-11 at 12 16 42](https://user-images.githubusercontent.com/81965095/145667399-f3760f86-43f6-4f2c-85d7-9108d738876a.jpeg)

making them more responsive will not only make the website more appealing but will also highlight the sponsors , currently they blend in with the other components and may not

[2021-12-11 07:43] Palaksharma23 opened #234 "Clicking on github link on project redirects to github.com but it should redirect to project repository"
### Describe the bug.

https://user-images.githubusercontent.com/87171452/145668768-c3b1f64e-ea0e-4643-91a4-17ca4cfbd52b.mp4

### Describe the steps to reproduce the behavior.

Go to https://community.moja.global/roadmap
Scroll down and click on view timeline
Click on github
See error

### Expected behavior.

Github link should be redirected to Repository link

### Screenshots.

_No response_

###

[2021-12-11 07:44] Palaksharma23 commented on #234
i want to work on this issue can you please assign it to me @HarshCasper

[2021-12-11 07:44] Palaksharma23 commented on #231
sure sir @HarshCasper

[2021-12-11 09:22] aayushsrivastava9760 commented on #233
Kindly assign me this issue , i would like to work on it .

[2021-12-11 10:10] Palaksharma23 opened #236 "Upcoming meeting section is showing past meetings"
### Describe the bug.

![image](https://user-images.githubusercontent.com/87171452/145672717-8366e30f-ef03-4d13-92ca-743198f630cc.png)

### Describe the steps to reproduce the behavior.

Go to https://community.moja.global/initiatives
See error

### Expected behavior.

I guess these are important meetings or come under other headings so the heading of section should be changed accordingly

### Scr

[2021-12-11 10:11] Palaksharma23 commented on #236
@HarshCasper can you please assign this issue to me.

[2021-12-11 11:30] reachaadrika opened #237 "Bug: ALIGNMENT IN INITIATIVES SECTION"
### Describe the bug.

The alignment of cards in the  /initiatives , looks a bit absurb , to be precise , Google Summer of Docs Card is a bit misaligned .

### Describe the steps to reproduce the behavior.

Open the /initiatives Page on the community website .

### Expected behavior.

All the cards should be aligned properly , this could be done by shifting the button to bottom , aligned with othe

[2021-12-11 11:31] reachaadrika commented on #237
If this is a valid issue , Can I work on this ?

[2021-12-11 11:31] Palaksharma23 opened #238 "Add cd website command to readme.md"
### Describe the bug.

While trying to setup community website on my local , i run command yarn and it shows me error. It took me time to figure out to first cd website folder than run further commands. I figured it out using gitpod.io but i guess we should add a command cd website in our readme.md file.
Firstly , i thought it is just the case with me but one person ask it to me on slack , so i th

[2021-12-11 11:31] Palaksharma23 commented on #238
i would like to work on this issue

[2021-12-11 11:43] Palaksharma23 commented on #163
i would like to take up this issue , if no one is working on it.

[2021-12-11 12:07] #238 closed

[2021-12-11 12:08] sohamsshah commented on #233
Assigned, go ahead!

[2021-12-11 14:39] #234 closed

[2021-12-11 15:05] sohamsshah opened #241 "Revamp Projects section in Roadmap Page"
### Is your feature request related to a problem? Please describe.

Currently, the Projects Section in the Roadmap UI looks something like this.

![image](https://user-images.githubusercontent.com/47717492/145680668-21a674ea-f1f5-4e61-bdbe-c5cb900d6a43.png)

There are couple of minor UI issues that can be seen in the design:
- The horizontal margin between the Projects Cards is more than required.

[2021-12-11 15:09] mehabhalodiya commented on #241
Hey, I would like to work on this! Please assign it to me.
Thank you.

[2021-12-11 15:10] sohamsshah commented on #241
Sure, thanks! Go ahead @mehabhalodiya !

[2021-12-11 15:56] #233 closed

[2021-12-11 16:09] aayushsrivastava9760 commented on #237
Just to be sure u meant 'firefox' rt? Also it looks fine on windows 10 , Google Chrome .

[2021-12-11 16:20] mehabhalodiya opened #242 "Style guide for the community website"
### Is your feature request related to a problem? Please describe.

This style guide aims to standardize certain aspects of writing content to make the contribution process smoother.
This is great and should definitely help keep things cleaner and more consistent moving forward.

### Describe the solution you'd like.

*I will update this section after having some work.*

### Describe alternatives

[2021-12-12 07:18] sohamsshah commented on #163
Sure, go ahead!

[2021-12-12 07:20] sohamsshah commented on #236
Hey @Palaksharma23 , I think the Meeting section currently just has dummy data and so it doesn't make sense what data is present. I guess, we can put the correct data once the #163 is fixed and built. I think we can consider closing this issue at the moment.

Cc: @HarshCasper

[2021-12-12 07:22] Palaksharma23 commented on #236
okay sir , got it :)

[2021-12-12 07:22] #236 closed

[2021-12-13 11:48] Palaksharma23 opened #247 "Add Link to github and linkedin account of interns in blogs section of the website"
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/87171452/145806757-ac81faf9-9881-44de-8661-957e64472e1f.png)

### Describe the solution you'd like.

I think we should add two social media icons linking to students github and linkedin account in blogs section of our website after their name.
If this feature request is valid , i

[2021-12-13 13:22] Palaksharma23 commented on #209
@sohamsshah @HarshCasper can i work on this issue.

[2021-12-13 13:30] Palaksharma23 commented on #167
and I want to clarify in which section do I need to migrate the Documentation Working group description and purpose in community website and from where do I need to remove the about moja global section.

[2021-12-14 11:52] Ruchip16 opened #249 "Newcomers guide"
### Additional context.

Since we have a lot of people contributing to moja-global, a newcomers guide would give them insights on our projects and how can they get started with their contributions

I have created a doc for the [same](https://docs.google.com/document/d/1a0Hctj1O3CAmCeuPkDacZyFxF-qpApmgxLLmNGDH9qE/edit?usp=sharing )

CC: @HarshCasper @sohamsshah

[2021-12-15 00:35] arcadioramos commented on #249
Thank you for this document, I'm very interested in contributing someway and this document helped me so much :)

[2021-12-16 05:47] Sukriti-sood opened #251 "Blog: How AFOLU sector responsible for GFG emission and removal"
### Is your feature request related to a problem? Please describe.

Most of the contributors may want to understand FLINT and moja-global but got confused due to less understanding about sources  of GFG.

### Describe the solution you'd like.

I want to write a blog explaining how AFOLU sector is also major source of gfg emission.

### Describe alternatives you've considered

_No response_

### Ad

[2021-12-16 08:43] chicken-biryani commented on #251
@Sukriti-sood this sounds like a great idea.

Another good blog might be-

To explain the basic terms that one may encounter. Such as pools, fluxes etc.

Or maybe that can be included in this blog itself. What do you think?

[2021-12-16 10:07] Sukriti-sood commented on #251
@chicken-biryani I think separate blog will be good.

[2021-12-16 10:37] chicken-biryani commented on #251
@Sukriti-sood

Awesome. Would you be okay with creating a seperate issue for the same?

[2021-12-16 10:45] iswarmondal opened #252 "Bug: the nav bar in iPad pro doesn't work"
### Describe the bug.

On the home page, the hamburger icon to toggle the navbar doesn't work properly for iPad pro screen size.
Here is a video demo about the issue

https://user-images.githubusercontent.com/73457704/146355285-c85a4298-8f55-47d6-b61a-e9c96a50452d.mp4

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

The expected behaviour should be to togg

[2021-12-16 13:00] padmajabhol commented on #251
Can I work on the other blog? The one that could explain about pool, fluxes, etc?

[2021-12-16 15:38] chicken-biryani commented on #251
@padmajabhol definitely!

Just make an issue before hand. Ask someone to assign it to you. (You know the drill 😉).

I think this blog would be extremely helpful.

What you could probably do is... Go through Flint-wiki and the document Mohit has worked on. (I'll link it when I find it. Please, remind me if I forget. 😅)

You'll see a lot of terms such as GHG, Pools, Fluxes-- that probaby don't make

[2021-12-16 16:14] HarshCasper commented on #251
We already have them here: https://docs.moja.global/en/latest/Understanding-FLINT/moja-flint/index.html

Why do we need a blog?

[2021-12-16 16:15] HarshCasper commented on #251
Hi @Sukriti-sood

Here's a cool paper by the Werner Kurz, chair of the Technical Steering Committee, shared by @aornugent on the #outreachy channel of Slack:

[annurev-environ-012320-054809.pdf](https://github.com/moja-global/community-website/files/7728817/annurev-environ-012320-054809.pdf)

[2021-12-16 16:16] arcadioramos commented on #252
Hi, I would like to work on this bug !

[2021-12-16 16:16] HarshCasper commented on #252
Apologies, I assigned @iswarmondal who created this issue. If he is no ready to take it up, I can assign you this issue.

[2021-12-16 16:18] arcadioramos commented on #252
Oh, no problem !!!

[2021-12-16 16:27] chicken-biryani commented on #251
I feel that the content can get a little intimidating.

I may be wrong.

[2021-12-16 17:20] iswarmondal commented on #252
@HarshCasper no problem with that. I'm kinda new to open-source so I might need some help. Thanks for assigning the bug to me.

[2021-12-16 19:21] padmajabhol commented on #251
Yeah sure.

[2021-12-17 06:35] Sukriti-sood commented on #251
Thanks for Sharing, Should I work on this issue or its not needed ?

[2021-12-17 11:44] shubhamkarande13 commented on #251
@HarshCasper you're right. Maybe @aornugent could help us with some more blog ideas.

[2021-12-18 17:29] wasp0094 opened #254 "Feature Request: Add live counter"
### Is your feature request related to a problem? Please describe.

I wish to add an animated counter below the contributors in the contributor section which shows the no. of contributors and no. of pull requests etc. to add more liveliness to the site

### Describe the solution you'd like.

something similar to this.

![image](https://user-images.githubusercontent.com/90551491/146650244-01d9d7fc-

[2021-12-18 17:30] wasp0094 commented on #254
@padmajabhol please assign me this issue and add the swoc nsec tag as well

[2021-12-19 06:28] kushagra487 opened #255 "Improvise UI for contributors and sponsors sections."
I wish to add animation to contributors and sponsors section.

Something similar to a left-right transition.

[2021-12-19 06:32] kushagra487 commented on #255
Please assign me this issue @padmajabhol

[2021-12-20 11:59] iswarmondal commented on #252
Hay I'm having some trouble with debugging it. Can anyone else take this? @HarshCasper

[2021-12-21 01:51] #65 closed

[2021-12-21 12:04] SanjaySinghRajpoot opened #257 "Feature Request: Changing the solid color of Roadmap background to a gradient color."
### Is your feature request related to a problem? Please describe.

Currently, the roadmap banner has a solid colour background that looks too outdated.

### Describe the solution you'd like.

I have added a new color gradient to the roadmap page.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/67458417/146926850-43229930-0402-4b4f-bed8-77e674779cb5.png">

### Describe

[2021-12-22 10:56] 7ORP3DO opened #258 "Feature Request: Add scroll to top button"
### Is your feature request related to a problem? Please describe.

When the page is really long, it becomes too tedious to scroll back to top through screens and screens of content. Hence the role of the Scroll to top button.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2021-12-23 01:50] #166 closed

[2021-12-24 11:47] SanjaySinghRajpoot commented on #257
please review this change @sohamsshah

[2021-12-25 07:52] padmajabhol commented on #257
@sohamsshah do we need this background change? We are trying to have consistency throughout the website.

[2021-12-28 01:49] #212 closed

[2021-12-29 01:49] #208 closed

[2021-12-29 10:21] Namyalg commented on #162
I would like to work on this

[2022-01-01 11:39] sohamsshah commented on #258
Hey @7ORP3DO, are you working on this?

[2022-01-01 11:40] sohamsshah commented on #257
I think this would violate the colorscheme of the design of the website. Closing this

[2022-01-01 11:40] #257 closed

[2022-01-01 11:43] sohamsshah commented on #252
Hey @arcadioramos , you can work on this if @iswarmondal isn't working on this. Please feel free to ping if you face any blockers.

[2022-01-01 12:09] 7ORP3DO commented on #258
Hi @sohamsshah, For some reason now I am not working on this issue.  I apologize for that .🙇

 **You can assign it to someone else**

[2022-01-01 15:20] #163 closed

[2022-01-01 18:39] tejaswari7 commented on #258
I'm beginner to this project
I would like to take this issue

[2022-01-02 04:48] #247 closed

[2022-01-02 08:24] padmajabhol commented on #255
Hey @kushagra487 are you still working on this issue?

[2022-01-02 15:12] garvitraj commented on #255
Hey i want to work on this issue
could u pls assign it

[2022-01-02 22:29] davaughncodes opened #265 "Deploy your app for free 🚀"
Hey @moja global, I'm reaching out because I took a look at your project on GitHub (moja-global/community-website) and decided to reach out to see if you'd be interested in free hosting. I'm the owner of DeeloCloud, a serverless dev platform that allows you to easily deploy frontend and backend apps in minutes. It's built for developers, it's super easy to use, and you won't have to manage servers

[2022-01-04 11:46] garvitraj commented on #255
Thanks for assigning this issue
will start with this by today

[2022-01-05 01:52] #214 closed

[2022-01-05 12:59] AayushSaini101 commented on #237
Please assign this issue

[2022-01-06 06:56] Prasanna0908 opened #269 "Alignment Center for Project Title for a better UI"
Currently, the project title of the roadmap section is left aligned
![Left aligned](https://user-images.githubusercontent.com/65851817/148341001-af00023a-23a6-4d47-ab38-4035023608b0.PNG)
<br /><br />
It would be better if it was aligned as center
![Center Aligned](https://user-images.githubusercontent.com/65851817/148341216-bd316be1-e234-47e7-9e10-39458e1d2032.PNG)
<br /><br />
Responsive UI :
![C

[2022-01-06 06:57] Prasanna0908 commented on #269
Can someone assign me this issue?

[2022-01-06 08:08] garvitraj commented on #255
hey, @padmajabhol I have designed the UI Pls let me know if any changes is required.
cc @HarshCasper

![Frame 1](https://user-images.githubusercontent.com/62978449/148350155-c5d3d89b-6175-4196-b5d9-fabc53ef8923.png)

Figma File Link :- https://www.figma.com/file/Sms8um8fzQAfMqoSfGi8Bm/moja-global?node-id=2%3A13

[2022-01-06 08:10] garvitraj commented on #255
Hey, @padmajabhol i have designed the UI Let me know if any changes is required and where should I commit design files.
![Frame 1](https://user-images.githubusercontent.com/62978449/148350508-e393b89f-b7da-491f-816a-1bbbfc094bfa.png)

[2022-01-07 15:24] Prasanna0908 commented on #209
@HarshCasper If nobody is assigned then can I work on this issue?

[2022-01-08 09:16] tanay123456789 commented on #231
I am working on it as nobody is active on this issue.

[2022-01-08 12:43] Apurba-Nath-cpu commented on #231
The issue is assigned to me and I am working on this isuue right now.

[2022-01-09 05:49] tanay123456789 commented on #231
okay

[2022-01-10 01:50] #184 closed

[2022-01-10 06:15] tejaswari7 commented on #258
should the scroll button exists on all the pages of website?

[2022-01-10 14:22] padmajabhol commented on #258
Ideally, yes.

[2022-01-12 14:16] tejaswari7 commented on #258
I'm getting this error when I run the command `git clone git@github.com:<USERNAME>/community-website.git && cd community-website`

<img width="465" alt="image" src="https://user-images.githubusercontent.com/55801723/149156837-bec84e20-eda1-4571-8c9e-21b91d800566.png">

[2022-01-12 14:54] 7ORP3DO commented on #258
I am also getting the same error. Alternatively you can use this command :
[code]

[2022-01-13 10:15] arjunbharti commented on #217
Hey, if this issue is not yet assigned, can I work on it? I am up for fixing it!

[2022-01-13 10:33] Palaksharma23 commented on #217
@arjunbharti you can go ahead

[2022-01-15 01:50] #228 closed

[2022-01-15 20:47] kitarp29 commented on #269
Hey @Prasanna0908
Are you still working on this?
I can get this done.
@eemike07 If you could assign it to me.

[2022-01-16 18:02] eemike07 commented on #269
I don't have assign privileges. I'm just a contributor :(

[2022-01-17 01:54] #229 closed

[2022-01-18 01:53] #242 closed

[2022-01-18 01:53] #241 closed

[2022-01-20 01:55] #167 closed

[2022-01-20 04:18] #254 closed

[2022-01-20 04:52] #231 closed

[2022-01-22 16:18] Pravenn18 commented on #269
Hey i have solved this issue #277, please close this issue

[2022-01-22 16:24] Pravenn18 commented on #269
i have solved this issue #277 please review it and close this issue

[2022-01-23 21:06] Pravenn18 commented on #209
This issue is resolved

[2022-01-25 18:33] tejaswari7 commented on #258
I went through documentation of docusaurus and found that they removed scrollToTop feature
[Removed fields](https://docusaurus.io/docs/migration/manual#removed-fields)
![image](https://user-images.githubusercontent.com/55801723/151036617-6ba147c7-f18f-4a37-a4c7-86ec783bf2b7.png)

can the feature be added using reactjs if yes, then I'm confused how should I procced.
Any Suggestions??

[2022-01-25 19:24] vasantisuthar commented on #237
Is this issue still open?

[2022-01-25 19:40] vasantisuthar opened #279 "Bug: Menu actions not visible on fullscreen"
### Describe the bug.

the menu at the top left with the brand doesn't show anything on full screen, so it confuses the user whether the menu is clicked correctly or it is not showing anything.

### Describe the steps to reproduce the behavior.

shows the actions you have on the menu on fullscreen also.

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating Environm

[2022-01-25 19:45] vasantisuthar opened #280 "Bug: Alignment not at center"
### Describe the bug.

the "know the community" section is not aligned at the center on small screens and the home screen buttons also should be aligned on the left side as the heading and subheading both are left-aligned.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating Environment

windows, ch

[2022-01-25 19:47] #279 closed

[2022-01-25 20:26] PurnaChandraMansingh commented on #280
Hi, can I work on this?

[2022-01-26 01:51] #125 closed

[2022-01-30 01:46] #249 closed

[2022-02-01 02:42] iswarmondal commented on #252
Hey! I'm currently busy right now, if anyone wants to work on this issue then go ahead

[2022-02-01 12:19] Namyalg opened #285 "Feature Request: Add a close button for the roadmap cards"
### Is your feature request related to a problem? Please describe.

Currently, the roadmap cards appear on clicking View Timeline, however, they do not have a close button

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

I would like to add a close icon to each of the cards.

### Additional context.

_No response_

[2022-02-02 13:29] #285 closed

[2022-02-02 14:51] niloysikdar opened #288 "Feature Request: Willing to contribute and work on a sponsor page"
### Is your feature request related to a problem? Please describe.

Hi, I am a new and first-time contributor for Moja Global. I want to contribute to the projects under Moja Global, probably I can start by fixing the design and code of some of the sponsors' pages.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional cont

[2022-02-03 13:20] Namyalg opened #289 "Bug: Update contributors workflow not working"
### Describe the bug.

The update contributors workflow does not work as expected and runs very frequently

### Expected behavior.

Run the workflow and update it dynamically

### Screenshots.

![image](https://user-images.githubusercontent.com/53875297/152350413-eb8f23f9-d81a-4ad4-8065-359ce57b0981.png)

### Operating Environment

Microsoft Windows 10 Pro

[2022-02-04 03:00] padmajabhol commented on #288
Hey @niloysikdar , could you please elaborate a little more on what you want to work on, maybe a few screenshots could work. Thanks.

[2022-02-04 05:21] padmajabhol commented on #258
You can use react hooks to easily implement this. Docusaurus is built on top of react so you can pretty much do everything that you could have done in a react project. For this particular feature, use the useState and useEffect hooks to change the state on a particular condition. For smooth scrolling, use the window object.

[2022-02-05 14:01] lawanu-tech commented on #252
I would like to work on this issue. Can you assign it to me?

[2022-02-07 12:31] #289 closed

[2022-02-07 13:33] Namyalg opened #293 "Bug: Input commit_message does not work with action EndBug/add-and-commit@v7"
### Describe the bug.

On using the input commit_message, a warning is raised and a default commit message is used in the action instead of `Update Contributors`

![image](https://user-images.githubusercontent.com/53875297/152796120-2374a8c6-54dc-4f0e-b749-e5d78c21963a.png)

![image](https://user-images.githubusercontent.com/53875297/152796225-a9325423-7b00-4159-8c66-b6eee445622e.png)

### Describ

[2022-02-07 14:43] ghulamyazdani opened #295 "[UI] : Misaligned content in initiative page in mobile view"
### Describe the bug.

On the initiative page, contents are misaligned as shown below pic.
![image](https://user-images.githubusercontent.com/55938346/152808583-28658bf4-ce92-42de-8c53-ced789448445.png)

![image](https://user-images.githubusercontent.com/55938346/152808711-2f7ea2d2-66ed-4a19-ae6f-a662f46ad9a3.png)

### Describe the steps to reproduce the behavior.

Go on to the https://community.m

[2022-02-07 14:43] ghulamyazdani commented on #295
I would like to work on this issue.

[2022-02-09 12:16] romasinha commented on #258
@padmajabhol I have raised a PR solving this issue the same way as you've mentioned i.e using React Hooks and the window object.

[2022-02-09 12:30] padmajabhol commented on #258
Thank you for contributing, I'll review it soon. Though let us know when you are working on an issue before raising a PR, as it might cause confusion to other developers.

[2022-02-09 13:02] romasinha commented on #258
Yes, my bad. I will keep that in mind.

[2022-02-09 13:16] sohamsshah commented on #295
Hi @ghulamyazdani , currently this section is being tackled in #272 where we are replacing the Meetings Section with the Calendar. Feel free to work on other issue or raise new issue. Thanks.

[2022-02-09 13:16] #295 closed

[2022-02-11 01:49] #162 closed

[2022-02-12 18:47] #237 closed

[2022-02-14 01:47] #255 closed

[2022-02-14 08:36] janvi01 commented on #217
@Palaksharma23 Can I work on this?

[2022-02-23 10:50] #269 closed

[2022-02-23 10:51] #209 closed

[2022-02-25 11:03] #280 closed

[2022-03-03 17:33] Akshit42-hue commented on #217
Can I work on this issue @Sukriti-sood

[2022-03-04 05:52] HarshCasper commented on #252
Hi @lawanu-tech — I have assigned you this. Let me know if you are planning to work on it.

[2022-03-04 17:23] lawanu-tech commented on #252
Thank you. I am going to work on it.

[2022-03-05 07:57] Anbazhagan04 commented on #217
Hi, I am Anbazhagan, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-07 17:13] #217 closed

[2022-03-07 17:52] Ash-KODES opened #308 "Documentation: Contributor guidelines"
### What is the current documentation state?

Dont have a contributor guidelines of MOJA-GLOBAL

### Where is this stated?

_No response_

### Why do you want to improve the statement?

_No response_

### Proposed Statement

_No response_

### Additional context.

_No response_

[2022-03-08 16:13] ShadyResurrected commented on #252
"Hi, I am Chandradeep Chandra, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you"

[2022-03-08 16:52] Ardent10 opened #310 "Feature Request: Enhancing the UI."
### Is your feature request related to a problem? Please describe.

1) Currently there is no segregation between two blogs. There is no color difference to make user understand a new blog has started.
2) 2022 and 2021 LFX Mentees are combined together and the "How to get involved" section and the Tags are repeated.
3) The left side bar (Recent post) also looks odd  as it does not differentiate bet

[2022-03-08 16:55] ShadyResurrected commented on #310
Hi, I am Chandradeep Chandra, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 17:06] ShadyResurrected commented on #258
Hi, I am Chandradeep Chandra, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-08 17:13] harshi606 commented on #310
Hello , my name is Harshithaa.This is something I'd like to work on. As soon as I have resolved the problem, I will raise a PR once the issue is solved. Thank you very much

[2022-03-08 17:17] crystal-kishore commented on #288
Can i resolve this issue

[2022-03-09 07:18] Deeks900 commented on #310
Hey! I'm Deeksha, a contributor to OpenForce 2022. I would like to work on these two issues:
Currently, there is no segregation between the two blogs. There is no color difference to make users understand a new blog has started.
The Theme toggle button has a moon and a bulb.
Could you please assign these two issues to me?

[2022-03-09 12:27] Ardent10 commented on #310
Relax guys 😅,I am not the project admin. I am also a participant in Openforce22 and I raised this issue to work on it as well.

[2022-03-10 06:10] Ayan-thecodeking commented on #308
Hi, I am Ayan Gupta , a contributor to OpenForce 2022. I would like to work on this issue let me know is there is any  changes required . I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-10 09:01] Aaditya-Singh78 commented on #310
Hi, I am Aaditya Singh, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you

[2022-03-10 13:47] anushkachauhxn opened #311 "Bug: Navbar dropdown hover effects"
### Describe the bug.

All active links in navbar have green hover effect except for the  dropdown items in 'Know More'.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

Hover effects should be there for all active links. It should be consistent throughout the navbar.

### Screenshots.

![image 1](https://user-images.githubusercontent.com/59930625/15767446

[2022-03-10 18:26] #311 closed

[2022-03-11 07:58] indraantoor opened #315 "Feature Request: Add social media share icons for blog articles"
### Is your feature request related to a problem? Please describe.

Currently there is no **share button** on the blog. If the user has to share an **article** on **any social media platform** they would have to copy the link and paste to share it. That does work, but for blogs it will be a good practice to add share icons so that user can **click** on the **icon** of the social platform on which

[2022-03-11 07:59] indraantoor commented on #315
Kindly assign me this issue under Codeflow Openforce 2022.

[2022-03-12 04:27] varsha089 commented on #315
Hi, I am Varsha, a contributor to OpenForce 2022. I would like to contribute to this issue. Could you please assign it to me.

[2022-03-12 17:39] anubhav2102 commented on #315
Please assign this issue to me, i have previously solved similar issue in a project.

[2022-03-13 11:27] Shreyash1601 commented on #315
Hey I am Shreyash participant of openforce 2022. Kindly assign this issue to me

[2022-03-15 04:12] PrabhuRaamDev commented on #315
Hi, I am Prabhu raam, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-15 04:15] PrabhuRaamDev commented on #310
Hi, I am Prabhu raam, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-15 23:46] jigarvyasidea commented on #315
Hi, I am Jigar Vyas, a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue.

[2022-03-20 17:02] Palaksharma23 opened #317 "Bug: Clicking on Edit this page redirects to 404 error page"
### Describe the bug.

When clicking on Edit this page it should redirect to the correct page, it shows a 404 error page

### Describe the steps to reproduce the behavior.

1. Go to any blog post on mojaglobal Community Website
2. Click on edit this page

### Expected behavior.

It should redirect to the correct page

### Screenshots.

https://user-images.githubusercontent.com/87171452/159173648-5

[2022-03-26 04:24] siddhi-244 opened #319 "Feature Request: The "know more" element of the navbar doesnt show the green transition while rest all elements show !"
### Is your feature request related to a problem? Please describe.

The "know more" element of the navbar doesnt show the green transition while rest all elements show !

### Describe the solution you'd like.

I would like to add that green transition effect to know more element as well

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2022-03-26 04:25] siddhi-244 commented on #319
i would like to work on this issue

[2022-03-26 04:29] siddhi-244 opened #320 "Feature Request: A small change in website in mobile view!"
### Is your feature request related to a problem? Please describe.

![Screenshot (170)](https://user-images.githubusercontent.com/69195262/160224659-2752b235-7441-4f5b-bf89-0e9d50c53943.png)

The box width need to be increased

### Describe the solution you'd like.

I would try to increase the width !

### Describe alternatives you've considered

_No response_

### Additional context.
I am partici

[2022-03-26 04:29] siddhi-244 commented on #320
i would like to work on this issue !

[2022-03-27 13:54] meghagangadhar13 commented on #320
I would like to work on this issue

[2022-03-28 09:51] siddhi-244 commented on #320
@chicken-biryani can I work on this issue.

[2022-03-28 12:22] chicken-biryani commented on #320
@siddhi-244 yes please.

@meghagangadhar13 issues usually take place on a first come first serve basis. Since Siddhi created it and commented before you did... By default she gets to work on.

Feel free to create/try new issues.

[2022-03-31 05:23] tanay123456789 commented on #317
working on it

[2022-04-03 15:07] #320 closed

[2022-04-03 18:39] padmajabhol commented on #319
I believe that's because it's not a link but just a drop-down button.

[2022-04-04 17:24] #319 closed

[2022-04-06 06:01] tanay123456789 commented on #315
working on it.

[2022-04-09 05:00] AryaArunB opened #324 "The title of picture overflows in pacs"

[2022-04-09 05:02] #324 closed

[2022-04-15 02:10] #288 closed

[2022-04-15 02:10] #258 closed

[2022-04-15 02:10] #252 closed

[2022-04-15 09:30] #310 closed

[2022-04-16 09:30] ritikalohia commented on #317
@Palaksharma23 , I have gone through this issue. when we click on 'edit this page', it will redirect to 404 error page. I have tried something. but I have some doubt. it must be redirected  to md file link like " https://github.com/moja-global/community-website/edit/main/website/blog/2021-11-29-meet-moja-global-outreachy-interns.md " . I have done this thing, like if we click on edit this page. it

[2022-04-16 09:45] ritikalohia commented on #308
@Ash-KODES , I want to know more about this issue much more. How this should be made and what is the process? doubts are:
1. Should we make a whole documentation for every repo and tell what it is, and how does it function?
2.  Or in these guidelines, we will tell them that what you should do or should not do while contributing?
3. Or guidelines tell them about community website and help contribut

[2022-04-16 10:25] tanay123456789 commented on #317
@ritikalohia  I have already open a PR for same som pls go and find other issues to work on.

[2022-04-16 11:07] ritikalohia commented on #317
ok @tanay123456789

[2022-04-27 07:31] Palaksharma23 opened #328 "Bug: Icons not visible in light mode"
### Describe the bug.

The color of icons on https://community.moja.global/roadmap is visible in dark mode only.
![image](https://user-images.githubusercontent.com/87171452/165465277-7e5661fd-6d6d-4bbd-b757-f13d9f4c6f4c.png)
![image](https://user-images.githubusercontent.com/87171452/165465285-cf01e574-1a4e-4ce4-adb9-95bd13898e38.png)

### Describe the steps to reproduce the behavior.

1) Go to ht

[2022-05-05 12:38] Saurabh-Suchak commented on #328
Hey, I'd like to work on this. @shubhamkarande13 can you assign this to me?

[2022-05-12 08:24] padmajabhol commented on #328
Any updates on this? @Saurabh-Suchak

[2022-05-12 08:26] #317 closed

[2022-05-14 02:16] #315 closed

[2022-05-24 02:12] #308 closed

[2022-05-26 05:20] Saurabh-Suchak commented on #328
@padmajabhol will be done by tomorrow.

[2022-06-06 14:15] Jaspreet099 opened #332 "User Feedback: Add Target attribute to open the link in a new window"
### Describe what you are trying to do and why it is not optimal.

![image](https://user-images.githubusercontent.com/75212002/172177900-adffcdcf-d07a-460a-9fb6-5a2d73b5f6d7.png)

Add Target _blank in the footer section(Follow Us) to open links in a new tab.

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered.

_No response_

### Additional context.

[2022-06-06 14:19] ORKO06 commented on #328
@HarshCasper @padmajabhol

Can I work on this issue?

[2022-06-06 20:13] ayush78781 commented on #328
## Dark Mode
<img width="957" alt="image" src="https://user-images.githubusercontent.com/76848435/172240341-d98ec992-adef-424c-9536-0d092ef90a0e.png"><br>
## Light Mode
<img width="957" alt="image" src="https://user-images.githubusercontent.com/76848435/172240428-d8ef3781-e37a-4253-9def-7d47c2b74ff2.png">

Hey! @HarshCasper I worked on this issue. Please have a look, if everything looks good I wil

[2022-06-07 08:49] padmajabhol commented on #328
Hi, this issue has already been assigned, I'll let you know when we have more issues.

[2022-06-07 09:01] padmajabhol commented on #328
Let me check with @Saurabh-Suchak, if there has been no progress from his side, we will go with this. Though this looks good I could always recommend you to let us know before you proceed to work on something.

[2022-06-07 20:16] padmajabhol commented on #328
Hi @ayush78781 , I have assigned you to this issue.

[2022-06-09 14:48] ayush78781 commented on #328
Hey @padmajabhol please review the pull request I raised.

[2022-06-09 19:22] padmajabhol opened #334 "Revamp community website"
We are coming up with the second iteration of the community website with major UI changes.
For now, we are planning to change the landing page which also includes the know the community, and the sponsorship section. You can find the Figma link attached [here](https://www.figma.com/file/cpR8K7fBhznhMB70Ym3Ui3/community-website).
We are open to suggestions to improve the current prototype.
We are lo

[2022-06-10 07:34] padmajabhol commented on #332
@ayush78781 next time, please let us know before opening a PR. Many times, people who open a particular issue might also be interested to come up with a solution for it. There might also be a situation where we might not need to solve an issue. Prior notifications can help both contributors and maintainers 😅

[2022-06-10 09:29] #328 closed

[2022-06-10 12:48] ayush78781 commented on #332
Hey Padmaja! I completely understand that. Actually what happened was, I already worked on this issue considering it as an enhancement without even looking at this particular issue. When I saw it open, I linked that pr to it. I will make sure from the next time not to repeat so. Sorry for the inconvenience caused.

[2022-06-11 10:49] Aditya-Jha2002 commented on #334
I would like to work on this.

[2022-06-11 17:34] padmajabhol commented on #334
Hi @Aditya-Jha2002 a few people had reached out to me, give me a day to confirm if they still want to work on this, if not I'll assign you.

[2022-06-11 18:42] ishitaac commented on #334
Interested to work on this issue!

[2022-06-12 04:48] arishmaurya commented on #332
i want to work on this issue @ayush78781 ? And before two comments you have merged some changes so is this issue is still open ?

[2022-06-12 04:54] arishmaurya commented on #334
@padmajabhol  i am interested to work on  this feature.  I have prior  experience in react js and also contributed in gssoc . I would love to work and collaborate on this issue

[2022-06-12 07:35] disha1202 commented on #334
I would like to work on this issue.

[2022-06-12 08:24] padmajabhol commented on #334
@ishitaac you can help us with coming up with a light and dark theme for the proposed prototype and maybe later design the rest of the pages with me?
I'm assigning @disha1202 to work with @ORKO06 to help us develop the second iteration.
@arishmaurya the other two people had reached out to us on our slack so I decided to go with them. You can surely look for other issues that might interest you.

[2022-06-15 17:47] ayush78781 commented on #332
No, its not open now. You can work on #334 if you would like to.

[2022-06-15 17:50] arishmaurya commented on #334
@ayush78781  I'm ready to work on this can you please assign it to me

[2022-07-06 11:41] Namyalg opened #338 "Documentation: Case Study on FLINT Cloud"
### Proposed Statement

I want to write a case study on FLINT Cloud, its abilities and significance in the moja global ecosystem

[2022-07-21 13:20] Namyalg opened #343 "Documentation: Publish blogs on the progress made by mentees"
### Why do you want to improve the statement?

Adding blogs covering the progress made by the mentees in the various open source programs - Outreachy, GSoC, GSoD, and LFX will enable a larger audience to understand and scope of work done

### Proposed Statement

For each program, a separate blog can be added covering the work done by the mentees

[2022-07-22 17:09] padmajabhol opened #344 "Bug: Make Hero Section on the landing page responsive for smaller screens"
### Describe the bug.

Currently we don't have css that could make the hero section look better in smaller screens.
You need to switch to [this branch](https://github.com/moja-global/community-website/tree/community-website.v2l) to this page.

### Expected behavior.

Center all elements and hide the logo for screensize < 1350px.

### Screenshots
![Screenshot from 2022-07-22 22-37-02](https://user-

[2022-07-24 15:59] Mr-Georgie commented on #344
I'm on it 🙏

[2022-07-24 16:24] padmajabhol commented on #344
Thanks a lot!

[2022-07-25 13:17] rohinish404 commented on #344
i'd like to work on this is the issue is still there. Let me know.

[2022-07-25 14:57] Mr-Georgie commented on #344
Hi rohinish404, I have done it.

Making pull request now

[2022-07-25 19:27] #343 closed

[2022-07-31 15:32] 03amir commented on #344
@padmajabhol  can i work on this issue?

[2022-08-01 15:04] padmajabhol commented on #344
Hi @03amir this has already been assigned, please watch out for other issues, thanks for reaching out!

[2022-08-13 02:14] #338 closed

[2022-08-21 11:17] #344 closed

[2022-08-21 12:09] padmajabhol opened #351 "Feature Request: revamp "Know the community" section"
### Describe the solution you'd like.

We are changing the current "Know the community" section of our website.
Please refer to the below image for the reference.

![MacBook Pro 14_ - 2](https://user-images.githubusercontent.com/75530516/185790235-377b1089-a77e-4ffd-a07b-1ec0723fdbad.png)

If are interested to work on this, we might additionally want you to attend our community meetings.
Its recom

[2022-08-21 12:16] padmajabhol opened #352 "Feature Request: revamp Sponsors section"
### Describe the solution you'd like.

![MacBook Pro 14_ - 5](https://user-images.githubusercontent.com/75530516/185790512-41270b3b-9ac4-4d68-9b7c-cf9fc395d110.png)

We are changing the current sponsors section of our website.
Please refer to the below image for the reference.

Functionality: every time a user clicks on a particular sponsor, the content on the right side changes.

If are intereste

[2022-08-21 13:05] rahulsh18 commented on #352
i'd like to work on this

[2022-08-21 13:13] harshilhuda commented on #351
I would like to work on this

[2022-08-21 18:33] padmajabhol opened #353 "Bug: Resize hero section button for smaller sizes."
### Describe the bug.

The button size looks bigger wrt to the section layout for max-width: 460px

### Expected behavior.

Ideally, it should look how it looks at 363 px.

### Screenshots.

<img width="1440" alt="Screenshot 2022-08-21 at 11 50 50 PM" src="https://user-images.githubusercontent.com/75530516/185805674-bf8285a0-5979-47f8-bb1b-b2a46f8efcf6.png">

### Operating Environment

macOS 12.5

[2022-08-21 18:36] padmajabhol opened #354 "Bug: remove link underline from hero sectio buttons"
### Describe the bug.

You can view underline in buttons when you click on them which is visually undesirable.

### Expected behavior.

There should be no text underline when someone clicks on the link.

### Operating Environment

macOS 12.5

[2022-08-22 00:11] codewarsfx commented on #354
hi, id love to work on this

[2022-08-22 05:56] Vedant-Manjrekar commented on #353
Hi @padmajabhol, is this issue solved because right now the page looks like this:

<img width="1055" alt="Screenshot 2022-08-22 at 11 18 43 AM" src="https://user-images.githubusercontent.com/93585735/185848385-106e4a60-235a-4eb9-a4c4-c6938cb30743.png">

The button size on width 363px is also similar to that of width 460px. So what changes are you exactly expecting.

Am I comprehending the issue co

[2022-08-22 05:59] janvi01 commented on #351
I would like to work on this.

[2022-08-22 06:19] Vedant-Manjrekar opened #355 "Bug: Website's language not changing."
### Describe the bug.

## Website's language is not changing when language other than English is chosen.

Currently there are 2 options English and Spanish (̄Espanol) , but when clicked on Spanish language the language doesn't change.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating Environment

[2022-08-22 07:45] prerana1821 commented on #353
Hey, I would like to work on this

[2022-08-22 07:50] legendarykamal commented on #355
Hi, I would like to work on fixing this.

[2022-08-23 05:21] padmajabhol commented on #353
Hi, you need to change to https://github.com/moja-global/community-website/tree/community-website.v2 branch before you can see the issue.

[2022-08-23 06:16] Vedant-Manjrekar commented on #354
Hey, if this issue is not ressolved I would like to work on this.

[2022-08-23 07:55] codewarsfx commented on #354
oh it is @Vedant-Manjrekar ...already on it

[2022-08-25 07:03] ItsRoy69 opened #358 "Documentation: There is no GitHub Workflow"
### What is the current documentation state?

When you are clicking the "Github Workflow" under "Know the Community" section in https://community.moja.global/ you'll find it gets redirected to https://docs.moja.global/en/latest/DeveloperWorkflow/index.html which shows no documentation

### Where is this stated?

It is stated here -https://docs.moja.global/en/latest/DeveloperWorkflow/index.html

![

[2022-08-29 09:55] padmajabhol commented on #355
Hi, if you think you can help us with the translation, please consider approaching one section at a time.

[2022-08-29 09:55] padmajabhol commented on #354
any updates on this? @codewarsfx

[2022-08-29 09:56] legendarykamal commented on #355
Yes, I will make issues for different section and then go on with one by one 👍

[2022-08-31 04:06] MukulKolpe commented on #354
Hey, If no one is working on this issue right now, can I pick this one?

[2022-09-02 03:43] 03amir commented on #353
@padmajabhol  is this issue solved? or can i take this?

[2022-09-03 09:28] Debarshi95 commented on #352
Hi @padmajabhol , I would like to work on this. Can you please assign me?

[2022-09-03 14:00] legendarykamal commented on #352
hey @padmajabhol is there any figma file for the design that you have taken ss?

[2022-09-03 14:10] legendarykamal commented on #358
hi @ItsRoy69 thankyou for opening the issue , I have linked a PR which will solve this issue :smiley:

[2022-09-03 14:48] legendarykamal opened #361 "Bug: Changing the navbar upon changing the language"
### Describe the bug.

The navbar doesn't respond to the change in the language .

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

_No response_

### Screenshots.

![image](https://user-images.githubusercontent.com/95926324/188275790-6d6f5b07-a467-4207-8105-b456be52ee8c.png)

### Operating Environment

linux

### Additional Information

_No response_

[2022-09-03 14:49] legendarykamal commented on #361
/assign me pls

[2022-09-09 10:16] janvi01 opened #364 "Bug: Projects View timeline theme"
### Describe the bug.

On changing dark mode to light mode and vice-versa, the project's timeline color/theme doesn't change accordingly. It remains the same.

### Describe the steps to reproduce the behavior.

_No response_

### Expected behavior.

It should match with light mode and dark mode designs.

### Screenshots.

<img width="1792" alt="Screenshot 2022-09-09 at 3 42 05 PM" src="https://use

[2022-09-09 10:17] janvi01 commented on #364
I would like to work on this issue.

[2022-09-17 12:52] padmajabhol commented on #354
You need to pull the community.website.v2 branch instead of main.

[2022-09-20 00:42] codewarsfx commented on #354
oh thanks @padmajabhol

[2022-09-27 14:32] #352 closed

[2022-09-28 13:43] harshilhuda commented on #351
What should the animation be like when the arrows are pressed ? @padmajabhol

[2022-09-29 02:14] #334 closed

[2022-10-02 16:54] rahulsh18 commented on #351
hey, i'd like to work on this

[2022-10-04 03:59] aniketnegii opened #370 "Bug: Slack link in the footer."
### Describe the bug.

The link to join the slack is 'Sign In' those who have not joined the workspace are not able to join.
The link should be an invite link such that new people can join the slack workspace.
![image](https://user-images.githubusercontent.com/60145485/193731125-ef33ffa7-bcb2-4e46-ba23-1f510a4bc7b0.png)

### Describe the steps to reproduce the behavior.

_No response_

### Expecte

[2022-10-04 06:08] padmajabhol commented on #370
Could you elaborate a bit more? From what I see, its working exactly how we wish it to be.

[2022-10-04 12:25] AM1CODES opened #371 "Feature Request: Update Website UI"
### Is your feature request related to a problem? Please describe.

The current community website looks really well made. It has possibly all the things that the org wants to display but i was wondering if we could work on upgrading the look a little bit. Again, the website looks great and does the job but we can always play around and update the visual appearance a bit.

### Describe the solution

[2022-10-05 04:32] aniketnegii commented on #370
To replicate the issue please try to log in using a new email/account of slack.
If you don't face an issue I believe it was only for my account.
For reference, I was getting this error.
![Slack Issue](https://user-images.githubusercontent.com/60145485/193981761-75a66bb0-7dd6-4d1b-bb91-d2eb81fd3f49.jpeg)

[2022-10-05 09:34] ComradeCat24 commented on #353
Hey, Could you assign me this task?
I would like to work on this

[2022-10-07 02:14] #355 closed

[2022-10-11 02:14] #361 closed

[2022-10-11 02:14] #358 closed

[2022-10-13 02:15] #353 closed

[2022-10-18 02:14] #364 closed

[2022-10-26 02:44] RUCHI21CODES commented on #370
Can you please assign me this issue, I feel like I might help because I have the knowledge of CSS, HTML, JS and I might be able to solve this

[2022-10-26 09:02] PriteshKiri commented on #371
Hey!
There are few small UI changes I found can improve the current design.
1. Need to center align the hero text on mobile screens
2. Need to increase the image size of the "Engage with the Community" section on mobile screens
3. Need to reduce padding for the "Contributors" section on mobile screens
4. We can add a drop shadow effect to the image of the "Engage with the Community" section

[2022-10-28 02:14] #354 closed

[2022-11-02 15:56] samyakshah3008 commented on #370
Hey team, I would love to work on this, can you please assign me this issue?

[2022-11-06 09:00] samyakshah3008 commented on #351
Hey Team, I would love to work on this feature. Tech stack seems right fit for me.
Can you please assign me this issue?

[2022-11-06 13:10] padmajabhol commented on #351
@samyakshah3008 please go ahead!

[2022-11-15 18:56] samyakshah3008 opened #373 "Bug: Demo Days button in light theme"
### Describe the bug.

In the header section of our community website, **Demo Days** button's **text** is not visible when we **hover** on it in light mode/theme.
Also **without hover** of button, the text is not clearly visible.

### Describe the steps to reproduce the behavior.

## Effect on Hover of button demo days
- I'll change the color of button's text to white.
- Or if there is a specific

[2022-11-15 19:10] samyakshah3008 commented on #373
I would love to work on this issue and fix it.

[2022-11-17 03:28] sketchomania opened #374 "Bug: Two buttons are showing page not found"
### Describe the bug.

In **Know the Community** section under **Miscellaneous**, `Frequently Asked Questions`  and `Join moja global` buttons are showing `Page not found` when clicked.

![issue-6](https://user-images.githubusercontent.com/77732479/202348067-218deb54-2850-4c29-acd5-42bd48b10d12.png)
![issue-1](https://user-images.githubusercontent.com/77732479/202348087-6ea91b32-e129-4c13-8f05-2ad

[2022-11-17 12:33] sketchomania commented on #374
I would like to work on this issue

[2022-11-23 04:57] Shruti799 commented on #373
Hello! Can I work on this issue?

[2022-11-27 11:57] ItsRoy69 opened #375 "Bug: The GCBM link is not working and not showing up as we click on the GCBM on the Projects section of "Know the community""
### Describe the bug.

The GCBM link is not working and not showing up as we click on the GCBM on the Projects section of footer . The link is broken,  I can work on the issue and fix it.

### Describe the steps to reproduce the behavior.

Proper link i.e "https://community.moja.global/docs/GCBM/GCBM" should be given instead of "https://community.moja.global/docs/GCBM/About"

### Expected behavior